.section-coaches {
  .slick-arrow {
    display: none !important;
  }

  .slick-dots {
    width: 100%;
    li {
      width: calc(100% / 5);
      background-color: #828282;
      transition: background-color $trans;

      &.slick-active {
        background-color: white;
      }
    }
  }
}
