@import "styles/mixins";

.reviews-wrapper {

  .slick-slider {
    width: 1121px;

    @include landscape {
      width: 960px;
    }

    @include tablet {
      width: 960px;
    }

    @include mobile {
      width: 850px;
    }

    @include mobile-small {
      width: 480px;
    }

    @include iphone {
      width: 390px;
    }

    @include mobile-smallest {
      width: 320px;
    }

    .slick-list {
      transition: height $trans;
    }

    .slick-track {
      display: flex;
      //align-items: center;
      //justify-content: center;

      @include mobile-small {
        //height: 500px;
      }

      @include iphone {
        //height: 450px;
      }

      @include mobile-smallest {
        //height: 400px;
      }
    }

    .slick-slide {

      @include landscape {
        display: flex;
        justify-content: center;
      }

      @include mobile-small {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      @include tablet {
        //transform: scale(0.78);
      }

      @include mobile-small {
        //transform: scale(0.72);
      }

      @include iphone {
        //transform: scale(0.65);
      }

      @include mobile-smallest {
        //transform: scale(0.554);
      }

      &.slick-current {
        //transform: scale(1);

        @include tablet {
          padding-bottom: 0;
          //transform: scale(0.98);
        }

        @include mobile {
          //transform: scale(0.94);
        }

        @include mobile-small {
          //transform: scale(0.81);
        }

        @include iphone {
          //transform: scale(0.68);
        }

        @include mobile-smallest {
          //transform: scale(0.63);
        }

        img {
          //border-top: 10px solid #E16428;
        }
      }
    }

    .slick-arrow {
      display: none !important;
    }
  }
}

.review-wrapper {
  position: relative;
  width: 337px;

  @include landscape {
    width: 261px;
  }

  @include mobile-small {
    width: 273px;
    //height: 493px;
  }
}

.review-item {
  max-width: 337px;
  //margin: 0 20px;
  cursor: zoom-in;
  object-fit: contain;

  @include landscape {
    max-width: 261px;
    margin: 0;
  }

  @include tablet {
    margin: 0;
  }
}
