@import "styles/mixins";

.reviews-wrapper {

  .slick-slider {
    width: 1171px;

    @include landscape {
      width: 830px;
    }

    @include tablet {
      width: 985px;
    }

    @include mobile {
      width: 768px;
    }

    @include mobile-small {
      width: 480px;
    }

    @include iphone {
      width: 390px;
    }

    @include mobile-smallest {
      width: 320px;
    }

    .review-container {
      height: 600px;
      width: 337px !important;
      background-color: #3D3D3D;
      transform: scale(0.94);
      transition: transform $trans-semi-slow;

      @include landscape {
        width: 261px !important;
        height: 465px;
        transform: scale(0.86);
      }

      @include tablet {
        width: 334px !important;
        height: 592px;
        transform: scale(0.773);
      }

      @include mobile {
        width: 320px !important;
        height: 572px;
        transform: scale(0.831);
      }

      @include mobile-small {
        width: 276px !important;
        height: 493px;
        transform: scale(0.88);
      }

      @include iphone {
        width: 240px !important;
        height: 428px;
        transform: scale(0.85);
      }

      @include mobile-smallest {
        width: 212px !important;
        height: 378px;
        transform: scale(0.88);
      }
    }

    .slick-track {
      display: flex;
    }

    .slick-slide {
      display: flex;
      justify-content: center;

      @include landscape {
        display: flex;
        justify-content: center;
      }

      @include mobile-small {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &.slick-current {
        .review-container {
          border-top: 10px solid #E16428;
          transform: scale(1);
          padding-bottom: 0;
          filter: drop-shadow(4px 4px 4px rgba(169, 157, 146, 0.25));
        }
      }
    }

    .slick-arrow {
      width: 80px;
      height: 80px;
      background-color: #FFFFFF;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);

      @include landscape {
        width: 62px;
        height: 62px;
      }

      @include tablet {
        display: none !important;
      }

      svg {
        @include landscape {
          transform: scale(0.79);
        }
      }

      &.slick-next {
        right: -100px;

        @include landscape {
          right: -65px;
        }
      }

      &.slick-prev {
        left: -100px;

        @include landscape {
          left: -65px;
        }
      }

      &::before {
        content: '';
      }

      &:hover {
        background-color: #FFFFFF;
      }
    }
  }

  .slick-dots {
    @include  mobile {
      display: flex !important;
      margin: 0 auto;
      width: 330px;
      justify-content: center;
      position: relative;
      bottom: -40px;
      li {
        width: calc(100% / 3);
        height: 2px;
        background-color: #E0E0E0;
        margin: 0;
        transition: background-color $trans;

        &.slick-active {
          background-color: $primary;
        }
      }
    }
  }
}

.review-wrapper {
  position: relative;
  width: 337px;

  @include landscape {
    width: 261px;
  }

  @include mobile-small {
    width: 273px;
  }
}

.review-item {
  width: 100%;
  height: 100%;
  cursor: zoom-in;
  object-fit: contain;
  object-position: center;
}
