.reviews-wrapper {
  //max-width: 1080px;
  display: flex;
  justify-content: center;

  .reviews-slider {
    width: 1300px;

    .slick-slide {
      margin-top: 30px;
      display: flex;
      justify-content: center;

      &.slick-current {
        transform: scale(1.063);
        padding-bottom: 18px;
      }
    }
  }
}

