@import "styles/mixins";

.price-wrapper {

  .slick-slider {
    width: 1460px;

    @media screen and (max-width: 1439px) {
      width: 730px;
    }

    @include tablet {
      width: 730px;
    }

    @media screen and (max-width: 767px) {
      width: 365px;
    }

    @include mobile-smallest {
      width: 244px;
    }

    .slick-slide {
      opacity: 0;
      transition: opacity $trans;

      &.slick-active {
        opacity: 1;
      }
    }

    .slick-arrow {
      width: 100px;
      height: 100px;
      background-color: #FFFFFF;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);

      @include tablet {
        width: 60px;
        height: 60px;
      }

      @include mobile-small {
        width: 60px;
        height: 60px;

        svg {
          transform: scale(0.8);
        }
      }

      @include mobile-smallest {
        width: 38px;
        height: 38px;

        svg {
          transform: scale(0.5);
        }
      }

      &.slick-next {
        right: -125px;

        @include tablet {
          right: -20px;
        }
      }

      &.slick-prev {
        left: -125px;

        @include tablet {
          left: -20px;
        }
      }

      &::before {
        content: '';
      }

      &:hover {
        background-color: #FFFFFF;
      }
    }

    .slick-dots {
      //position: relative;
      bottom: auto;
      margin-top: 115px;
      display: flex !important;
      justify-content: center;
      align-items: center;

      @include mobile {
        margin-top: 40px;
      }

      @include mobile-smallest {
        margin-top: 30px;
      }

      li {
        width: 10px;
        height: 10px;
        background-color: #222222;
        margin-right: 20px;
        transition: $trans;
        transition-property: width, height, background-color;

        @include mobile-smallest {
          width: 7px;
          height: 7px;
          margin-right: 15px;
        }

        &.slick-active {
          width: 20px;
          height: 20px;
          background-color: #E16428;

          @include mobile-smallest {
            width: 14px;
            height: 14px;
          }
        }

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }

  .slick-list {
    overflow: visible;
  }
}
