@import "styles/mixins";
@import "styles/variables";

.section-wrapper {
  .slick-list {
    .slick-slide {
      @include mobile {
        display: flex;
        justify-content: center;
      }
    }
  }

  .slick-dots {
    display: flex !important;
    margin: 0 auto;
    width: 330px;
    justify-content: center;
    position: relative;
    bottom: -40px;
    li {
      width: calc(100% / 3);
      height: 2px;
      background-color: #E0E0E0;
      margin: 0;
      transition: background-color $trans;

      &.slick-active {
        background-color: $primary;
      }
    }
  }
}
