.header {
  min-height: 100px;
  width: 100%;
  background-color: #222222;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 2;

  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 75%;
    width: 100%;
  }

  .header-contacts {
    display: flex;
    flex-direction: column;

    .phone-number {
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 10px;
      font-weight: 400;
    }

    .header-button {
      cursor: pointer;
      background-color: #222222;
      border: none;
      color: #E16428;
      font-size: 24px;
      line-height: 28px;
      transition: opacity $trans;

      &:hover {
        opacity: 0.6;
      }
    }
  }

  .phone-number {
    color: #fff;
  }
}
