@import "styles/mixins";

.header {
  width: 100%;
  background-color: #222222;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 3;

  .header-wrapper {
    position: relative;
    z-index: 3;
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 75%;
    height: 100%;
    width: 100%;

    @include landscape {
      max-width: 66.7%;
    }

    @include laptop {
      max-width: 75%;
    }

    @include tablet {
      max-width: 100%;
      padding: 0 40px;
    }

    @include iphone {
      padding: 0 20px;
    }

    @include mobile-small {
      padding: 0 30px;
    }

    @include mobile-smallest {
      padding: 0 15px;
    }

    .header-logo {
      width: 167px;
      height: 76px;
      cursor: pointer;

      @include landscape {
        width: 111px;
        height: 48px;
      }

      @include tablet {
        width: 118px;
        height: 52px;
      }

      @include iphone {
        width: 88px;
        height: 38px;
      }
    }

    .mobile-icons {
      display: flex;
      align-items: center;

      .phone-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 50px;
        margin-right: 50px;
        opacity: 1;
        transition: opacity $trans;
        background-color: #3D3D3D;
        border-radius: 50px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        cursor: pointer;

        @include mobile-small {
          margin-right: 30px;
          width: 40px;
          height: 40px;
        }

        @include iphone {
          width: 35px;
          height: 35px;

          svg {
            transform: scale(0.73);
          }
        }

        &.invisible {
          opacity: 0;
        }
      }

      .header-burger-menu {
        width: 40px;
        height: 25px;
        position: relative;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;

        @include iphone {
          height: 20px;
          width: 30px;
        }
      }

      .header-burger-menu span {
        display: block;
        position: absolute;
        height: 5px;
        width: 100%;
        background: #E16428;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;

        @include iphone {
          height: 4px;
        }
      }

      .header-burger-menu.open span {
        background: #B6B6B6;
      }

      .header-burger-menu span:nth-child(1) {
        top: 0px;
      }

      .header-burger-menu span:nth-child(2) {
        top: 10px;

        @include iphone {
          top: 8px;
        }
      }

      .header-burger-menu span:nth-child(3) {
        top: 20px;

        @include iphone {
          top: 16px;
        }
      }

      .header-burger-menu.open span:nth-child(1) {
        top: 10px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);

        @include iphone {
          top: 8px;
        }
      }

      .header-burger-menu.open span:nth-child(2) {
        opacity: 0;
        left: -60px;
      }

      .header-burger-menu.open span:nth-child(3) {
        top: 10px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);

        @include iphone {
          top:  8px;
        }
      }
      }
    }

  .mobile-nav {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1;

    &-enter {
      transform: translateY(-100%);
    }
    &-enter-active {
      transform: translateY(0%);
      transition: $trans-semi-slow;
      transition-property: transform;
    }

    &-exit {
      transform: translateY(0%);
    }

    &-exit-active {
      transform: translateY(-100%);
      transition: $trans-slow;
      transition-property: transform;
    }

    .container {
      display: flex;
      flex-direction: column;

      .nav-container {
        height: 150px;
        background-color: #FFFFFF;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
        display: flex;
        justify-content: center;
        align-items: center;

        @include mobile-small {
          padding: 30px 0 10px 0;
          height: auto;
        }

        @include iphone {
          padding: 20px 0;
        }
      }

      .contacts-container {
        background-color: #F5F3F1;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;

        @include mobile-small {
          flex-direction: column;
          height: auto;
          padding: 40px 0;
        }

        .header-contacts {
          margin-right: 100px;

          @include mobile-small {
            margin: 0 0 30px 0;
          }

          .phone-number {
            color: #222222;

            @include mobile-smallest {
              font-size: 18px;
              text-align: center;
            }
          }
        }

        .social-links {
          .social-links-item {
            width: 50px;
            height: 50px;
            border-radius: 50px;
            margin-right: 25px;

            &:last-of-type {
              margin: 0;
            }

            svg {
              transform: scale(1.18);
            }

            @include mobile-smallest {
              width: 40px;
              height: 40px;
              border-radius: 30px;
              svg {
                transform: scale(1);
              }
            }
          }
        }
      }
    }
  }
  }

  .header-contacts {
    width: 175px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    @include landscape {
      width: auto;
      //margin-left: 35px;
    }

    .phone-number {
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 10px;
      font-weight: 400;

      @include landscape {
        font-size: 18px;
        line-height: 21px;
      }

      @include iphone {
        font-size: 22px;
      }
    }

    .header-button {
      cursor: pointer;
      background-color: transparent;
      border: none;
      color: #E16428;
      font-size: 24px;
      line-height: 28px;
      transition: opacity $trans;

      @include landscape {
        font-size: 16px;
        line-height: 18px;
      }

      @include iphone {
        font-size: 22px;
      }

      @include mobile-smallest {
        font-size: 18px;
        line-height: 21px;
      }

      &:hover {
        opacity: 0.6;
      }
    }
  }

  .phone-number {
    color: #fff;
  }

