@import "styles/mixins";

.bookbar {
  width: 100%;
  height: 150px;
  background-color: #E16428;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;

  @include landscape {
    height: 100px;
  }

  @include tablet {
    height: 130px;
  }

  @include mobile {
    padding: 30px 60px;
  }

  @include mobile-small {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    height: auto;
  }

  @include mobile-smallest {
    padding: 30px 16px
  }

  .bookbar-container {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include landscape {
      width: 66.7%;
    }

    @include tablet {
      width: 81%;
    }

    @include mobile {
      width: 100%
    }

    @include mobile-small {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: auto;
      width: 100%;
    }
  }

  .bookbar-text {
    font-size: 30px;
    line-height: 1.2;
    font-weight: 400;
    color: #FFFFFF;
    margin-right: 100px;
    display: block;

    @include landscape {
      font-size: 24px;
      line-height: 29px;
    }

    @include tablet {
      margin-right: 80px;
      max-width: 385px;
      font-size: 24px;
      line-height: 29px;
    }

    @include mobile {
      max-width: 300px;
      margin-right: 80px;
    }

    @include mobile-small {
      margin: 0 auto 20px;
      text-align: center;
      max-width: 100%;
    }

    @include iphone {
      font-size: 18px;
      line-height: 21px;
    }
  }

  .bookbar-button {
    padding-top: 6px;
    cursor: pointer;
    width: 345px;
    height: 70px;
    background-color: #FFFFFF !important;
    font-size: 24px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #222222 !important;

    @include landscape {
      width: 265px;
      height: 60px;
      //line-height: 60px;
    }

    @include tablet {
      width: 345px;
    }

    @include mobile {
      width: 265px;
    }

    @include mobile-small {
      width: 100%;
    }

    @include iphone {
      height: 60px;
      font-size: 22px;
    }

    @include mobile-smallest {
      height: 55px;
      font-size: 18px;
    }
  }
}

