@import "variables";

.camp {
  position: relative;
  overflow: hidden;
  background-image: url("../src/assets/images/camp/camp-main.jpg");
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;

  @include mobile {
    background-image: url("../src/assets/images/camp/camp-main-mobile.jpg");
    background-position: top;

    .section-wrapper {
      padding: 0 30px 100px;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  .main-button {
    margin-top: 50px;
    width: 285px;

    @include mobile {
      width: 100%;
      margin-top: 20px;
    }
  }

  .camp-text {
    position: relative;
    z-index: 2;

    .text-xl {
      @include mobile {
        font-size: 18px;
        text-align: center;

        &.first {
          font-size: 18px;
          text-align: left;
        }
      }
    }

    .camp-title {
      font-family: 'Oswald', 'sans-serif';
      color: #FFFFFF;
      font-size: 40px;
      line-height: 1.1;
      font-weight: 700;
      padding-left: 15px;
      border-left: 10px solid $primary;
      margin: 50px 0;
      position: relative;
      text-transform: uppercase;

      @include mobile {
        font-size: 30px;
        padding-left: 10px;
        border-left: 6px solid $primary;
        margin: 20px 0;
      }
    }
  }

  &:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 60%;
    left: 0;
    top: 0;
    background-color: #222222;
    transform: skew(-30deg, 0deg);
    transform-origin: 0 0;
    z-index: 1;

    @include mobile {
      width: 100%;
      transform: none;
      top: 35%;
    }
  }
}

.section-camp-advantages {
  background-color: #F5F3F1;

  .camp-advantages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: -50px;

    @include mobile {
      flex-direction: column;
      margin-bottom: 0;
    }

    .adv-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 33%;
      flex-grow: 1;
      margin-bottom: 50px;

      .adv-wrapper {
        width: 300px;
      }

      @include mobile {
        flex-direction: row;
        width: 100%;
        margin-bottom: 40px;

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      .adv-icon {
        margin-bottom: 10px;
        flex-shrink: 0;
        width: 110px;
        height: 110px;

        @include mobile {
          width: 75px;
          height: 75px;
        }
      }

      .text-l {
        margin-bottom: 10px;
        text-align: center;

        @include mobile {
          text-align: left;
          margin-left: 15px;
        }
      }

      .text-s {
        text-align: center;

        @include mobile {
          text-align: left;
          margin-left: 15px;
        }
      }
    }
  }
}

.section-camp-directions {
  background-color: #FFFFFF;

  .camp-directions {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 750px;

    @include laptop {
      max-height: none;
    }
  }

  .dir-item {
    display: flex;
    position: relative;
    height: 230px;
    width: 50%;
    background-color: #F5F3F1;
    margin-bottom: 30px;
    margin-right: 30px;
    padding: 20px;
    box-shadow: 4px 4px 4px rgba(169, 157, 146, 0.25);

    &-enter {
      height: 0;
      overflow: hidden;
      transition: height $trans, padding $trans;
      padding: 0 15px;

      @include laptop {
        padding: 0 8px;
      }
      @include tablet {
        padding: 0 15px;
      }

      &-active {
        height: 230px;
        padding: 34px 15px;

        @include laptop {
          padding: 20px 8px;
        }
        @include tablet {
          padding: 15px;
        }
      }
    }
    &-exit {
      height: 230px;
      overflow: hidden;
      transition: height $trans, padding $trans;

      &-active {
        height: 0;
        padding: 0 15px;

        @include laptop {
          padding: 0 8px;
        }
        @include tablet {
          padding: 0 15px;
        }
      }
    }

    @include laptop {
      width: 100%;
      margin-right: 0;
      padding: 15px;
    }

    .dir-icon {
      flex-shrink: 0;
      width: 110px;
      height: 123px;

      @include tablet {
        transform: scale(0.9);
      }

      @include mobile {
        width: 67px;
        height: 75px;
      }
    }

    .dir-text {
      padding-left: 20px;

      @include tablet {
        padding-left: 15px;
      }

      .text-xl {
        margin-bottom: 10px;
      }

      .text-s {
        margin-bottom: 7px;
      }
    }

    &:nth-child(3n) {
      margin-bottom: 0;

      @include laptop {
        margin-bottom: 30px;
      }
    }

    &:nth-child(n + 2) {
      margin-right: 0;

      @include laptop {
        margin-bottom: 30px;
      }
    }
  }
}

.section-coaches {
  background-color: #222222;
  background-image: url('../src/assets/images/camp/coaches-background.jpg');
  background-position: left;
  background-repeat: no-repeat;

  @include mobile {
    background-image: none;
    padding-bottom: 100px;
  }

  .camp-coaches {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;

    @include tablet {
      width: 100%;
    }


  }
}

.section-training {
  background-color: #F5F3F1;

  .training-container {
    display: flex;
    max-width: 980px;
    width: 100%;
    padding: 60px 90px 72px;
    margin: 0 auto;
    background-color: #FFFFFF;
    box-shadow: 4px 4px 4px rgba(169, 157, 146, 0.25);

    @include tablet {
      flex-direction: column;
      align-items: center;
      padding: 40px 15px 15px;
    }

    .container {
      width: 50%;
      height: 100%;
      border-right: 1px solid #E0E0E0;

      @include tablet {
        border-right: none;
      }

      .ul-small {
        list-style: disc;
        padding-inline-start: 20px;

        @include mobile {
          margin: 0 auto;
          width: 240px;
        }
      }

      .training-days {
        margin-bottom: 62px;

        &:last-of-type {
          margin-bottom: 0;

          @include tablet {
            margin-bottom: 30px ;
          }
        }

        @include tablet {
          padding-bottom: 30px;
          margin-bottom: 30px;
          border-bottom: 1px solid #E0E0E0;
        }
      }

      .text-xl {
        color: $primary;
        font-weight: 500;
        margin-bottom: 20px;

        @include tablet {
          text-align: center;
        }
      }

      .text-m {
        margin-bottom: 15px;

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      &.left {
        padding-right: 50px;
        @include tablet {
          padding-right: 0;
          width: 100%;
        }

        .ul-small {
          margin-bottom: 64px;

          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }

      &.right {
        padding-left: 50px;
        border-right: none;

        @include tablet {
          width: 100%;
          padding-left: 0;
        }
      }
    }

    .training-button {
      white-space: nowrap;
      height: 60px;
      font-size: 20px;
      font-weight: 700;
      margin-top: 45px;
      width: 100%;

      @include tablet {
        width: 100%;
        font-size: 16px;
        margin-top: 60px;
      }
    }
  }
}

.section-parents {
  display: block;
  background-color: #F5F3F1;

  @include mobile {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 100px;
  }

  .section-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    @include mobile {
      padding: 0 30px;
    }
  }

  .parents-list {
    width: 600px;
    list-style: disc;
    margin: 20px auto 40px;
    padding-top: 20px;
    border-top: 1px solid #BDBDBD;

    @include mobile {
      width: 100%;
      padding-inline-start: 20px;
    }

    .parents-item {
      margin-bottom: 15px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .parents-image {
    @include mobile {
      width: 100%;
    }
  }
}

.section-schedule-price {
  background-color: #FFFFFF;

  .schedule-price-container {
    width: 920px;
    margin: 0 auto;

    .section-title {
      margin-bottom: 40px;
    }

    .desc {
      margin-bottom: 40px;
    }

    .schedule-price-item {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #F5F3F1;
      margin-bottom: 20px;
      padding: 10px 10px 10px 30px;
      box-shadow: 4px 4px 4px rgba(169, 157, 146, 0.25);

      @include mobile {
        padding: 40px 15px 15px;
        flex-direction: column;
        margin-bottom: 30px;

        .price-button {
          width: 100%;
        }

        .text-xl {
          font-size: 24px;
          margin-bottom: 30px;
        }
      }

      &:last-of-type {
        margin-bottom: 60px;
      }

      .price {
        flex-grow: 1;
        text-align: center;

        &.price-1 {
          padding-right: 11px;

          @include mobile {
            padding-right: 0;
          }
        }
      }

      .price-button {
        height: 60px;
        font-size: 20px;
        font-weight: 700;
        width: 285px;
      }
    }

    .price-includes {
      padding-top: 20px;
      margin-top: 20px;
      border-top: 1px solid #E0E0E0;
      list-style: disc;
      padding-inline-start: 20px;

      .price-includes-item {
        margin-bottom: 15px;
      }
    }
  }
}

.section-safety {
  background-color: #222222;

  .safety-items {
    margin: 0 auto;
    width: 585px;

    @include tablet {
      width: 100%;
    }

    .safety-item {
      display: flex;
      align-items: center;
      margin-bottom: 16px;

      &:last-of-type {
        margin-bottom: 0;
      }

      .safety-icon {
        flex-shrink: 0;
        margin-right: 20px;
      }
    }
  }
}

.section-living {
  display: block;
  background-color: #FFFFFF;
  padding-right: 0;
  padding-left: 0;

  .section-wrapper {
    margin: 0 auto;
  }

  .living {
    list-style: disc;
    padding-inline-start: 50px;
    margin-top: 50px;

    @include mobile {
      margin-top: 90px;
      padding: 0 40px;
    }

    .living-item {
      margin-bottom: 15px;
    }
  }
}

.coach-item {
  margin-right: 40px;
  cursor: pointer;
  width: 237px;

  @include tablet {
    width: 240px !important;
    margin: 30px 20px;
  }

  @include mobile {
    width: 100% !important;
    margin: 0 auto;
  }

  &:first-of-type {
    margin-bottom: 30px;

    @include tablet {
      margin-bottom: 0;
    }
  }

  &:nth-of-type(3) {
    margin-right: 0;

    @include tablet {
      margin: 30px 20px;
    }
  }

  &:nth-of-type(5) {
    margin-right: 0;

    @include tablet {
      margin: 30px 20px;
    }
  }

  .text-xl {
    text-align: center;
    padding-bottom: 7px;
    margin-bottom: 10px;
    border-bottom: 4px solid $primary;

    @include mobile {
      font-size: 24px;
    }
  }

  .text-s {
    @include tablet {
      text-align: center;
    }
    @include mobile {
      font-size: 18px;
      white-space: nowrap;
    }
  }

  .photo-wrap {
    @include mobile {
      width: 285px;
      height: 340px;
      margin-bottom: 20px;
    }
  }

  .coach-photo {
    margin-bottom: 10px;
    flex-grow: 0;

    @include tablet {
      margin: 0 auto 10px;
    }

    @include mobile {
      width: 100%;
      margin-bottom: 0;
    }
  }
}

.coach-modal {
  .modal-content {
    padding: 40px;
    width: 700px;

    @include mobile {
      padding: 60px 20px;
    }

    .coach-modal-content {
      display: flex;
    }

    .coach-modal-image {
      object-fit: cover;
      flex-shrink: 0;
      @include mobile {
        display: none;
      }
    }

    .modal-text {
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      flex-shrink: 1;

      .text-xl {
        font-size: 24px;
        font-weight: 600;
        line-height: 1.3;
        padding-bottom: 8px;
        width: fit-content;
        margin-bottom: 10px;
        border-bottom: 4px solid $primary;

        @include mobile {
          width: 100%;
          text-align: center;
        }
      }

      .text-s {
        font-size: 16px;
        line-height: 1.3;
      }

      .coach-text-items {
        display: flex;
        flex-direction: column;
        list-style: disc;
        flex-grow: 1;
        padding-inline-start: 20px;
      }
    }
  }
}

.schedule-modal {
  .modal-content {
    padding: 60px 65px;
    background-color: #F5F3F1;
    width: 920px;

    @include mobile {
      width: auto;
      padding: 30px 0 0 0;
    }

    .schedule-modal-content {
      background-color: #FFFFFF;
      padding: 30px 67px;
      height: 465px;
      display: flex;

      @include mobile {
        height: auto;
        padding: 20px 40px;
      }
    }
    .title {
      font-family: Oswald, sans-serif;
      width: fit-content;
      font-size: 24px;
      line-height: 1.3;
      font-weight: 600;
      border-left: 10px solid $primary;
      text-transform: uppercase;
      padding-left: 15px;
      margin: 0 auto 30px;

      @include mobile {
        border-left: none;
      }
    }

    .schedule-items {
      height: 100%;
      width: 100%;
      column-count: 2;

      @include mobile {
        column-count: 1;
      }

      .item {
        margin-bottom: 7px;
        white-space: nowrap;

        @include mobile {
          font-size: 16px;
        }

        span {
          color: $primary;
        }
      }
    }
  }
}
