@import "variables";
@import "mixins";

html {
  //scroll-behavior: smooth;
}

.section-main.section-main {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 154px;
  padding-bottom: 200px;
  background: -webkit-image-set( url('../src/assets/images/main-section-backround.jpeg') 1x, url('../src/assets/images/main-section-backround 2x.jpeg') 2x ) no-repeat bottom right;
  background-color: #222222;
  background-size: contain;

  @include landscape {
    padding-top: 110px;
    padding-bottom: 104px;
    background: -webkit-image-set( url('../src/assets/images/main-section-backround-landscape.jpeg') 1x, url('../src/assets/images/main-section-backround-landscape 2x.jpeg') 2x ) no-repeat bottom right;
    background-size: contain;
    background-color: #222222;
  }

  @include tablet {
    background-image: url("../src/assets/images/main-section-backround-tablet.jpeg");
    padding-top: 181px;
    background-size: contain;
    padding-bottom: 177px;
  }

  @include mobile {
    padding-top: 370px;
    padding-bottom: 80px;
    align-items: flex-end;
    background-position: top;
    background-image: url("../src/assets/images/main-section-backround-mobile.jpeg");
  }

  @include mobile-small {
    background-image: url("../src/assets/images/main-section-backround-mobile-s.jpeg");
    background-repeat: no-repeat;
    background-color: #222222;
    padding-top: 274px;
    padding-bottom: 80px;
    min-height: auto;
  }

  @include iphone {
    padding-top: 220px;
    padding-bottom: 60px;
  }

  @include mobile-smallest {
    padding-top: 214px;
    background-image: url("../src/assets/images/main-section-backround-mobile-xs.jpeg");
  }

  .main-wrapper {

    .address-wrapper {
      display: flex;
      margin-left: -4px;
      align-items: center;

      svg {
        overflow: visible !important;
      }
    }

    .marker-icon {

      @include tablet {
        transform: scale(0.75);
      }

      @include iphone {
        margin-left: -10px;
      }

      @include mobile-smallest {
        transform: scale(0.57);
        margin-left: -8px;
      }
    }

    .map-link {
      text-decoration: underline;
      color: #FFFFFF;
      font-size: 24px;
      line-height: 1.3;
      font-weight: 300;
      margin-left: 17px;
      cursor: pointer;

      @include tablet {
        font-size: 18px;
      }

      @include mobile {
        font-size: 24px;
      }

      @include mobile-small {
        font-size: 18px;
        margin-left: 5px;
      }

      @include iphone {
        font-size: 14px;
        white-space: nowrap;
      }

      @include mobile-smallest {
        font-size: 13px;
        margin-left: 0;
        letter-spacing: -0.03em;
      }
    }

    .main-title {
      font-family: 'Montserrat';
      color: #FFFFFF;
      font-size: 48px;
      line-height: 1.1;
      font-weight: 900;
      padding-left: 35px;
      margin: 60px 0;
      position: relative;
      text-transform: uppercase;

      @include landscape {
        margin: 40px 0;
        font-size: 40px;
        padding-left: 30px;
      }

      &::before {
        position: absolute;
        content: '';
        border-left: 10px solid #ED652C;
        left: 0;
        height: 100%;

        @include mobile-small {
          left: -18px;
          border-left: 8px solid #ED652C;
        }

        @include iphone {
          border-left: 6px solid #ED652C;
          left: 0;
        }

        @include mobile-smallest {
          border-left: 6px solid #ED652C;
          left: 0;
        }
      }

      @include tablet {
        font-size: 36px;
        margin: 40px 0 50px 0;
      }

      @include mobile {
        margin: 30px 0;
      }

      @media screen and (max-width: 600px) {
        font-size: 28px;
      }

      @include mobile-small {
        font-size: 26px;
        padding-left: 0;
      }

      @include iphone {
        font-size: 22px;
        padding-left: 13px;
      }

      @include mobile-smallest {
        font-size: 18px;
        padding-left: 11px;
      }
    }

    .main-text {
      color: #FFFFFF;
      font-size: 30px;
      line-height: 1.2;
      font-stretch: normal;
      font-weight: 600;
      padding-left: 35px;

      @include landscape {
        font-size: 24px;
        line-height: 29px;
        padding: 0;
      }

      @include tablet {
        font-size: 24px;
        line-height: 29px;
      }

      @include mobile-small {
        padding-left: 0;
        font-size: 24px;
      }

      @include iphone {
        font-size: 18px;
        line-height: 21px;
      }

      @include mobile-smallest {
        font-size: 12px;
        line-height: 14px;
      }
    }

     .main-button {
       width: 345px;
       height: 70px;
       margin-top: 30px;
       margin-left: 35px;

       @include landscape {
         margin: 40px 0 0 0;
       }

       @include mobile-small {
         width: 100%;
         margin-left: 0;
       }

       @include iphone {
         font-size: 22px;
         height: 60px;
         margin-top: 30px;
       }

       @include mobile-smallest {
         height: 55px;
         font-size: 18px;
         line-height: 1.3;
       }
     }
  }
}

.section-advantages {
  width: 100%;
  background-color: #F5F3F1;
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .advantages-container {
    @include mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .advantages-title {
      text-align: center;

      @include mobile {
        margin-bottom: 40px;
      }

      @include mobile-small {
        margin-bottom: 30px;
      }
    }

    .advantages-wrapper {
      display: flex;
      justify-content: center;

      @include mobile {
        width: 100%;
        flex-direction: column;
        align-items: center;
      }

      .advantages {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-right: 100px;
        max-width: 486px;

        @include landscape {
          padding-right: 40px;
        }

        @include tablet {
          padding-right: 20px;
          flex-shrink: 1;
        }

        @include mobile {
          flex-shrink: 1;
          max-width: 608px;
          padding-right: 0;
          flex-grow: 1;
        }

        @include mobile-small {
          padding-right: 0;
          max-width: 100%;
        }

        .advantages-item {
          display: flex;
          align-items: center;


          @include mobile {
            margin-bottom: 50px;
          }

          @include iphone {
            margin-bottom: 30px;
          }

          .advantages-text {
            font-size: 24px;
            line-height: 1.3;
            font-weight: 300;

            @include landscape {
              width: 317px;
            }

            @include mobile {
              width: auto;
              max-width: 547px;
            }

            @include iphone {
              font-size: 18px;
            }
          }

          .advantages-icon {
            margin-right: 40px;
            overflow: visible;

            @include landscape {
              margin-right: 20px;
            }

            @include mobile-smallest {
              margin-right: 22px;
            }
          }
        }
      }

       .video-preview {
         position: relative;
         width: 710px;
         height: 473px;
         object-fit: cover;
         display: flex;
         justify-content: center;
         align-items: center;
         overflow: hidden;

         @include landscape {
           width: 552px;
           height: 367px;
         }

         @include tablet-laptop {
           width: 408px;
           height: 307px;
           //flex-shrink: 1;
         }

         @include mobile {
           width: 100%;
           height: 408px;
         }

         @include mobile-small {
           height: 268px;
         }

         @include iphone {
           height: 211px;
         }

         @include mobile-smallest {
           height: 184px;
         }

         .cover {
           min-width: 100%;
           min-height: 100%;
           cursor: pointer;
         }

         .overlay {
           position: absolute;
           top: 0;
           left: 0;
           width: 100%;
           height: 100%;
           background-color: rgba(0, 0, 0, 0.2);
         }

         .youtube-play-button {
           z-index: 4;
           position: absolute;
           top: 50%;
           left: 50%;
           transform: translate(-50%, -50%) !important;
         }
       }
       .advantages-video-container {
         position: relative;
         width: 710px;
         height: 473px;

         @include landscape {
           width: 552px;
           height: 367px;
         }

         @include tablet-laptop {
           width: 408px;
           height: 307px;
           //flex-shrink: 1;
         }

         @include mobile {
           width: 100%;
           height: 408px;
         }

         @include mobile-small {
           height: 268px;
         }

         @include iphone {
           height: 211px;
         }

         @include mobile-smallest {
           height: 184px;
         }

         iframe {
           width: 100%;
           height: 100%;
           position: absolute;
           top: 0;
           left: 0;
         }
       }
    }
  }
}

.section-methodology.section-methodology {
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 96px;
  padding-bottom: 96px;

  @include landscape {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include mobile {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @include iphone {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @include mobile-smallest {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .methodology-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mobile {
      flex-direction: column;
    }

    .methodology-image {
      background-image: url("../src/assets/images/methodology.jpeg");
      width: 750px;
      height: 750px;
      object-fit: fill;
      background-repeat: no-repeat;
      object-position: top;
      background-position: center;

      @include landscape {
        background-image: url("../src/assets/images/methodology-laptop.jpeg");
        width: 470px;
        height: 470px;
        //background-size: cover;
      }

      @include tablet {
        background-image: url("../src/assets/images/methodology-height.jpeg");
        object-fit: cover;
        width: 450px;
        height: 639px;
        background-position: center;
      }

      @include mobile {
        background-image: url("../src/assets/images/methodology-mobile.jpeg");
        background-size: auto auto;
        width: 100%;
        height: 500px;
        background-position: center;
        margin-bottom: 40px;
      }

      @include mobile-small {
        width: 100%;
        height: 343px;
        background-size: cover;
        margin-bottom: 40px;
      }

      @include iphone {
        height: 270px;
        margin-bottom: 30px;;
      }

      @include mobile-smallest {
        height: 235px;
        margin-bottom: 30px;
      }
    }

    .methodology-wrapper {
      display: flex;
      flex-direction: column;
      width: 637px;
      padding-left: 75px;

      @include landscape {
        padding-left: 20px;
        width: 470px;
      }

      @include tablet {
        padding-left: 20px;
      }

      @include mobile {
        padding: 0;
        width: 100%;
      }

      .methodology-title {
        position: relative;
        margin-bottom: 40px;

        @include landscape {
          margin-bottom: 20px;
          padding-left: 25px;
        }

        @include tablet {
          margin-bottom: 30px;
          padding-left: 25px;
        }

        @include mobile-small {
          margin-bottom: 40px;
          padding-left: 18px;
        }

        @include iphone {
          margin-bottom: 30px;
          padding-left: 13px;
        }

        @include mobile-smallest {
          margin-left: 0;
          padding-left: 11px;
          margin-bottom: 30px;
        }

        &::before {
          position: absolute;
          content: '';
          border-left: 10px solid #ED652C;
          left: -25px;
          height: 100%;

          @include landscape {
            left: 0;
          }

          @include tablet {
            left: 0;
          }

          @include mobile-small {
            border-left: 8px solid #ED652C;
            left: 0;
          }

          @include iphone {
            border-left: 6px solid #ED652C;
          }

          @include mobile-smallest {
            border-left: 6px solid #ED652C;
          }
        }
      }

      .methodology-text {
        margin-bottom: 30px;
        max-width: 562px;
        font-size: 24px;
        line-height: 1.3;
        font-weight: 300;

        @include landscape {
          font-size: 18px;
          margin-bottom: 20px;
        }

        @include tablet {
          font-size: 24px;
          margin-bottom: 20px;
        }

        @include mobile {
          max-width: 100%;
        }

        @include  iphone {
          font-size: 18px;
        }
      }

      .methodology-list {
        list-style-type: disc;
        padding-left: 30px;
        list-style-position: outside;

        .methodology-item {
          margin-bottom: 30px;
          font-size: 24px;
          line-height: 1.3;
          font-weight: 300;
          max-width: 466px;

          @include landscape {
            font-size: 18px;
            margin-bottom: 20px;
            max-width: 365px;
          }

          @include tablet {
            max-width: none;
            font-size: 24px;
            margin-bottom: 20px;
          }

          @include iphone {
            font-size: 18px;
          }

          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.section-directions.section-directions {
  background-image: url('../src/assets/images/directions.jpeg');
  background-position: left;
  background-repeat: no-repeat;
  background-color: #222222;
  position: relative;
  display: flex;
  align-items: flex-end;

  @include landscape {
    background-image: url("../src/assets/images/directions-laptop.jpeg");
    background-size: 750px 1000px;
  }

  @include tablet {
    background-image: url("../src/assets/images/directions-tablet.jpeg");
    min-height: 1020px;
    background-size: contain;
  }

  @include mobile {
    min-height: auto;
    background-image: url("../src/assets/images/directions-mobile.jpeg");
    background-position: top;
    padding-top: 350px;
  }

  @include mobile-small {
    padding-top: 300px;
    background-size: 100% 268px;
  }

  @include iphone {
    padding-top: 227px;
    padding-bottom: 60px;
    background-image: url("../src/assets/images/directions-iphone.jpeg");
  }

  @include mobile-smallest {
    padding-top: 181px;
    background-size: contain;
    min-height: auto;
  }

  .directions-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .directions-wrapper {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    max-height: 963px;
    width: 613px;

    @include landscape {
      width: 554px;
    }

    @include tablet {
      width: 537px;
    }

    @include mobile {
      margin-left: 0;
      width: 486px;
    }

    .directions-title {
      color: #FFFFFF;
      max-width: 500px;
      position: relative;

      @include landscape {
        margin-bottom: 40px;
      }

      @include mobile-small {
        padding-left: 18px;
      }

      @include iphone {
        padding-left: 13px;
        margin-bottom: 30px;
      }

      @include mobile-smallest {
        padding-left: 11px;
      }

      &::before {
        position: absolute;
        content: '';
        border-left: 10px solid #ED652C;
        left: -25px;
        height: 100%;

        @include mobile-small {
          border-left: 8px solid #ED652C;
          left: 0;
        }

        @include iphone {
          border-left: 6px solid #ED652C;
          left: 0;
        }
      }
    }

    .directions-list {

      .directions-list-item {
        font-size: 30px;
        line-height: 1.5;
        font-weight: 600;
        color: #FFFFFF;
        cursor: pointer;
        margin-bottom: 50px;

        @include landscape {
          margin-bottom: 30px;
        }

        &:last-of-type {
          margin-bottom: 0;
        }

        @include iphone {
          margin-bottom: 40px;
        }

        .direction-wrap {
          display: flex;
          align-items: flex-start;

          @include mobile-small {
            align-items: center;
          }

          .directions-direction {
            font-size: 30px;
            line-height: 1.5;
            font-weight: 600;
            margin-bottom: 0;
            transition: margin-bottom $trans;

            @include landscape {
              font-size: 24px;
            }

            @include tablet {
              font-size: 24px;
            }

            @include mobile-small {
              font-size: 22px;
            }

            @include iphone {
              font-size: 18px;
            }

            @include mobile-smallest {
              font-size: 16px;
            }
          }

          .directions-icon {
            margin-top: 10px;
            margin-left: auto;
            transform: rotate(180deg);
            transition: transform $trans;

            @include mobile-small {
              margin-top: 0;
            }
          }
        }

        &._active {
          .directions-item {
            max-height: 285px;

            .direction-item {
              transform: translateY(0);
              -webkit-transform: translateY(0);
              }
            }

          .direction-wrap {
            margin-bottom: 30px;

            @include landscape {
              margin-bottom: 20px;
            }

            @include iphone {
              margin-bottom: 20px;
            }
          }

          .directions-icon {
            transform: rotate(0deg);
          }
        }
      }

        .directions-item {
          padding-left: 50px;
          overflow: hidden;
          list-style-type: disc;
          list-style-position: outside;
          max-height: 0;
          transition: max-height $trans;
          -webkit-transition: max-height $trans;
          -moz-transition: max-height $trans;
          -o-transition: max-height $trans;
          will-change: traansform;
          max-width: 518px;

          @include landscape {
            max-width: 470px;
          }

          @include tablet {
            max-width: 400px;
          }

          .direction-item {
            font-size: 30px;
            line-height: 1.3;
            font-weight: 300;
            margin-bottom: 20px;
            transform: translateY(350%);
            -webkit-transform: translateY(350%);
            will-change: transform;

            &:last-of-type {
              margin-bottom: 0;
            }

            @include landscape {
              font-size: 24px;
            }

            @include tablet {
              font-size: 24px;
              &:last-of-type {
                margin-bottom: 0;
              }
            }

            @include mobile-small {
              font-size: 22px;
              font-weight: normal;
            }

            @include iphone {
              font-size: 18px;
            }

            @include mobile-smallest {
              font-size: 16px;
            }
          }

          @for $i from 1 through 3 {
            .direction-item:nth-child(#{$i}) {
              transition: transform 0.2s + $i * 0.1 linear;
              -webkit-transition: transform 0.2s + $i * 0.1 linear;
              -moz-transition: transform 0.2s + $i * 0.1 linear;
              -o-transition: transform 0.2s + $i * 0.1 linear;
            }
          }
      }
    }
  }
}

.section-coach.section-coach {
  background-color: #F5F3F1;
  padding-top: 74px;
  padding-bottom: 74px;

  @include landscape {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include tablet {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @include iphone {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @include mobile-smallest {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .coach-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;

    @include mobile {
      flex-direction: column;
    }

    .image-wrapper {
      position: relative;
      flex-shrink: 1;
      max-height: 710px;
      max-width: 710px;

      @include landscape {
        width: 470px;
        height: 470px;
      }

      @include tablet {
        height: 524px;
      }

      @include mobile {
        overflow: hidden;
        max-height: 500px;
        width: 100%;
        margin-bottom: 40px;
      }

      @include mobile-small {
        max-height: 343px;
      }

      @include iphone {
        max-height: 270px;
        margin-bottom: 30px;
      }

      .coach-image {
        width: 100%;
        height: 100%;
        object-fit: cover;

        @include mobile {
          object-position: top;
        }
      }
    }
  }

  .coach-text {
    display: flex;
    flex-direction: column;
    max-width: 608px;
    justify-content: center;
    padding-right: 20px;

    @include landscape {
      justify-content: center;
      max-width: 400px;
    }

    @include tablet {
      max-width: 450px;
    }

    @include mobile {
      max-width: 100%;
      padding-right: 0;
    }

    .coach-title {
      position: relative;

      @include landscape {
        margin-bottom: 20px;
      }

      @include tablet {
        margin-bottom: 30px;
        padding-left: 25px;
      }

      @include mobile {
        margin-bottom: 40px;
      }

      @include mobile-small {
        margin-bottom: 30px;
        padding-left: 18px;
      }

      @include iphone {
        padding-left: 13px;
      }

      @include mobile-smallest {
        padding-left: 11px;
      }

      &::before {
        content: '';
        border-left: 10px solid #ED652C;
        left: -25px;
        height: 100%;
        position: absolute;

        @include tablet {
          left: 0;
        }

        @include mobile-small {
          left: 0;
          border-left: 8px solid #ED652C;
        }

        @include iphone {
          border-left: 6px solid #ED652C;
          left: 0;
        }
      }
    }

    .coach-paragraph {
      margin-bottom: 30px;
      font-size: 24px;
      line-height: 1.3;
      font-weight: 300;

      @include landscape {
        font-size: 18px;
        margin-bottom: 20px;
      }

      @include tablet {
        font-size: 24px;
        margin-bottom: 20px;
      }

      @include mobile-small {
        margin-bottom: 20px;
      }

      @include iphone {
        font-size: 18px;
      }

      &.coach-paragraph-bold {
        font-weight: 600;
      }
    }

    .coach-teams {
      list-style-type: disc;
      list-style-position: inside;
      margin-left: 10px;

      @include mobile {
        align-self: center;
      }

      .coach-team {
        font-size: 24px;
        line-height: 1.3;
        font-weight: 300;
        margin-bottom: 30px;

        &:last-of-type {
           margin-bottom: 0;
        }

        @include landscape {
          margin-bottom: 20px;
          font-size: 18px;
        }

        @include tablet {
          font-size: 24px;
        }

        @include iphone {
          font-size: 18px;
          margin-bottom: 20px;
        }
      }
    }
  }
}

.section-schedule {
  background-color: #FFFFFF;
  padding: 150px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .schedule-container.schedule-container {
    @include landscape {
      max-width: 70%;
    }

    @include tablet {
      max-width: none;
      padding-left: 140px;
      padding-right: 140px;
    }

    @include mobile {
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .schedule-title {
    text-align: center;

    @include landscape{
      margin-bottom: 40px;
    }

    @include tablet {
      margin-bottom: 30px;
    }


    @include mobile {
      margin-bottom: 40px;
    }

    @include iphone {
      margin-bottom: 30px;
    }
  }

  .schedule-wrapper {
    display: flex;
    align-items: center;

    @include landscape{
      max-height: 302px;
    }

    @include tablet {
      flex-direction: column;
      width: 100%;
      max-height: none;
    }

    @include mobile {
      width: 100%;
      flex-direction: column;
    }

    .schedule-image-container {
      max-width: 680px;
      max-height: 473px;

      @include landscape {
        height: 100%;
        max-width: 436px;
        //max-width: 436px;
        //max-height: 302px;
        object-fit: cover;
      }

      @include tablet {
        display: flex;
        align-items: center;
        overflow: hidden;
        width: 100%;
        max-width: none;
        max-height: 341px;
        margin-bottom: 50px;
      }

      @include mobile {
        display: flex;
        align-items: flex-end;
        overflow: hidden;
        width: 100%;
        max-height: 341px;
        margin-bottom: 40px;
      }

      @include mobile-small {
        max-height: 223px;
      }

      @include iphone {
        max-height: 175px;
      }

      @include mobile-smallest {
        max-height: 153px;
        margin-bottom: 30px;
      }

      .schedule-image {
        width: 100%;
        height: 100%;
      }
    }

    .schedule-text {
      margin-left: 50px;
      max-height: 387px;
      align-self: center;

      @include landscape {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 20px;
        flex-grow: 1;
      }

      @include tablet {
        margin-left: 0;
        max-height: none;
      }

      @include mobile {
        width: 100%;
        margin-left: 0;
        max-height: 976px;
      }

      .schedule-paragraph {
        font-size: 24px;
        line-height: 36px;
        font-weight: 300;
        max-width: 710px;
        margin-bottom: 60px;

        @include landscape {
          font-size: 18px;
          margin-bottom: 40px;
          max-width: 540px;
        }

        @include tablet {
          font-size: 24px;
          line-height: 1.5;
          text-align: center;
          max-width: 100%;
          margin-bottom: 30px;
        }

        @include mobile {
          text-align: center;
          margin-bottom: 40px;
        }

        @include iphone {
          font-size: 18px;
          margin-bottom: 30px;
        }

        @include mobile-smallest {
          margin-bottom: 30px;
        }
      }

      .schedule-table {
        display: flex;
        padding-right: 50px;
        justify-content: space-between;
        height: 225px;
        padding-left: 35px;

        @include landscape{
          padding: 0 0 0 25px;
          height: 208px;
        }

        @include tablet {
          height: 235px;
        }

        @include mobile {
          height: 208px;
        }

        @include mobile-small {
          padding: 0;
          height: 168px;
        }

        @include iphone {
          height: 141px;
        }

        @include mobile-smallest {
          height: 104px;
        }

        .table-column {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          &.highlighted {
            position: relative;

            &::before {
              position: absolute;
              content: '';
              border-left: 10px solid #ED652C;
              left: -25px;
              height: 60%;
              bottom: 0;

              @include mobile-small {
                border-left: 8px solid #ED652C;
                left: -18px;
              }

              @include iphone {
                border-left: 6px solid #ED652C;
                left: -13px;
              }

              @include mobile-smallest {
                border-left: 6px solid #ED652C;
                left: -11px;
              }
            }
          }

          &.centered {
            align-items: center;
          }

          .table-header {
            font-size: 30px;
            line-height: 1.5;
            font-weight: 400;
            margin-right: 10px;

            @include landscape {
              font-size: 24px;
            }

            @include tablet {
              font-size: 30px;
            }

            @include mobile {
              font-size: 24px;
            }

            @include iphone {
              font-size: 18px;
              white-space: nowrap;
            }

            @include mobile-smallest {
              font-size: 16px;
            }
          }

          .table-text {
            font-size: 30px;
            line-height: 1.5;
            font-weight: 300;
            white-space: nowrap;
            margin-right: 10px;

            @include landscape {
              font-size: 24px;
            }

            @include tablet {
              font-size: 30px;
            }

            @include mobile {
              font-size: 24px;
            }

            @include iphone {
              font-size: 18px;
            }

            @include mobile-smallest {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

.section-reviews.section-reviews {
  background-color: #F5F3F1;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include landscape {

  }

  @include mobile-small {
    padding-right: 0;
    padding-left: 0;
  }

  .reviews-title {
    text-align: center;

    @include landscape {
      margin-bottom: 40px;
    }

    @include iphone {
      margin-bottom: 30px;
    }
  }
}

.section-price.section-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;

  @include landscape {
    padding-bottom: 100px
  }

  @include tablet {
    padding-bottom: 237px;
  }

  @include mobile {
    padding-bottom: 140px;
  }

  @include iphone {
    padding-bottom: 104px;
  }

  @include mobile-smallest {
    padding-bottom: 94px;
  }

  .price-title {
    text-align: center;
  }

  .price-wrapper {
    display: flex;
  }
}

.section-promotion {
  padding: 128px 0;
  background-color: #F5F3F1;

  .promotion-wrapper.promotion-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile {
      justify-content: space-around;
      min-width: 69%;
    }

    @include mobile-small {
      flex-direction: column;
      justify-content: center;
    }
  }

  .promotion-pics {
    display: flex;
    justify-content: space-between;

    @include landscape {
      width: 50%;
    }

    @include mobile {
      flex-direction: column;
      align-items: center;
    }

    @include mobile-small {
      margin-top: 40px;
      margin-left: auto;
      margin-right: auto;
      flex-direction: row;
      justify-content: space-around;
    }

    @include iphone {
      margin-top: 30px;
      width: auto;
    }

    .promotion-image {
      margin-right: 30px;
      width: 50%;
      height: auto;

      @include mobile {
        padding-right: 0;
        padding-bottom: 20px;
        width: 150px;
      }

      @include iphone {
        padding-bottom: 0;
      }

      @include mobile-small {
        margin: 0;
        width: 132px;
      }

      &:last-of-type {
        padding-right: 0;
        padding-bottom: 0;
      }
    }
  }

  .promotion-text {
    padding-left: 50px;

    @include landscape {
      max-width: 388px;
    }

    @include mobile {
      max-width: 295px;
      padding-left: 0;
    }

    @include mobile-small {
      max-width: 100%;
    }

    .promotion-title {
      margin-bottom: 30px;

      @include landscape {
        margin-bottom: 20px;
      }

      @include tablet {
        margin-bottom: 30px;
      }

      @include iphone {
        margin-bottom: 20px;
      }

      @include mobile-small {
        text-align: center;
      }
    }

    .promotion-paragraph {
      font-size: 30px;
      line-height: 1.3;
      font-weight: 300;
      max-width: 467px;

      @include landscape {
        font-size: 24px;
      }

      @include tablet {
        font-size: 24px;
      }

      @include iphone {
        font-size: 18px;
      }

      @include mobile-small {
        max-width: 100%;
        text-align: center;
      }
    }
  }

  .promotion-button.promotion-button.promotion-button {
    height: 70px;
    width: 345px;
    margin-top: 30px;

    @include landscape {
      padding-top: 8px;
      height: 60px;
      width: 306px;
    }

    @include tablet {
      width: 320px;
    }

    @include  mobile {
      width: 295px;
    }

    @include mobile-small {
      width: 100%;
      margin-top: 40px;
    }
  }
}

.section-faq.section-faq {
  padding: 150px 0;
  width: 100%;
  background-color: #222222;
  background-image: url("../src/assets/images/faq.jpeg");
  background-repeat: no-repeat;
  background-size: 1670px 1470px;

  @include landscape {
    padding: 100px 0;
    background-image: url("../src/assets/images/faq-laptop.jpeg");
    background-size: 1110px 1127px;
  }

  @include tablet {
    background-image: url("../src/assets/images/faq-tablet.jpeg");
    background-size: contain;
    padding-top: 388px;
  }

  @include mobile {
    height: auto;
    padding: 310px 40px 80px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-image: url("../src/assets/images/ faq-mobile.jpeg");
    background-size: contain;
  }

  @include mobile-small {
    padding-top: 328px;
    background-image: url("../src/assets/images/ faq-mobile-s.jpeg");
  }

  @include iphone {
    background-image: url("../src/assets/images/faq-iphone.jpeg");
    padding: 214px 30px 60px;
  }

  @include mobile-smallest {
    background-image: url("../src/assets/images/faq-mobile-xs.jpeg");
    background-size: contain;
    padding: 169px 16px 50px;
  }

  .faq-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: auto;
    max-width: 735px;

    @include landscape {
      width: 658px;
    }

    @include tablet {
      max-width: 690px;
      justify-content: center;
      margin: 0 auto;
    }

    @include mobile {
      justify-content: flex-end;
    }

    @include mobile-small {
      max-width: 428px;
    }

    @include iphone {
      max-width: 330px;
    }

    @include mobile-smallest {
      max-width: 290px;
    }

    .faq-title {
      color: #FFFFFF;

      @include landscape {
        margin-bottom: 40px;
      }

      @include tablet {
        margin-bottom: 50px;
      }

      @include mobile-small {
        margin-bottom: 40px;
      }

      @include iphone {
        margin-bottom: 30px;
      }
    }

    .faq-list {
      max-width: 735px;

      @include tablet {
        max-width: 690px;
      }

      .faq-list-item {
        cursor: pointer;
        margin-bottom: 50px;
        position: relative;
        color: #FFFFFF;

        @include landscape {
          margin-bottom: 40px;
        }

        @include iphone {
          margin-bottom: 40px;
        }

        &:last-of-type {
          margin-bottom: 0;
        }

        &::before {
          position: absolute;
          content: '';
          border-left: 10px solid #ED652C;
          left: -25px;
          height: 100%;

          @include mobile {
            left: 0;
          }

          @include mobile-small {
            border-left: 8px solid #ED652C;
            left: -18px;
          }

          @include iphone {
            border-left: 6px solid #ED652C;
            left: -13px;
          }

          @include mobile-smallest {
            border-left: 6px solid #ED652C;
            left: -11px;
          }
        }

        .question-wrapper {
          display: flex;
          align-items: center;
          margin-bottom: 0;
          transition: margin-bottom $trans;

          .faq-question {
            font-size: 30px;
            line-height: 1.5;
            font-weight: 600;
            max-width: 640px;

            @include landscape {
              max-width: 551px;
              font-size: 24px;
            }

            @include mobile {
              padding-left: 25px;
            }

            @include mobile-small {
              padding-left: 0;
              font-size: 18px;
              max-width: 350px;
            }

            @include iphone {
              max-width: 294px;
            }

            @include mobile-smallest {
              max-width: 241px;
            }
          }

          .faq-icon {
            overflow: visible;
            margin-left: auto;
            transform: rotate(180deg);
            transition: transform $trans;
          }
        }

        .faq-answer {
          overflow: hidden;
          max-height: 0px;
          transition: max-height $trans;
          font-size: 30px;
          line-height: 1.3;
          font-weight: 300;
          max-width: 640px;

          @include landscape {
            font-size: 24px;
            max-width: 551px;
          }

          @include mobile {
            padding-left: 25px;
          }

          @include mobile-small {
            padding-left: 0;
            font-size: 18px;
            max-width: 350px;
          }

          @include iphone {
            max-width: 293px;
          }

          @include mobile-smallest {
            max-width: 241px;
          }
        }

        &._opened {
          .question-wrapper {
            margin-bottom: 30px;

            @include landscape {
              margin-bottom: 20px;
            }

            @include mobile-small {
              margin-bottom: 20px;
            }

            .faq-icon {
              transform: rotate(0deg);
            }
          }

          .faq-answer {
            max-height: 351px;
          }
        }
      }
    }
  }
}

.section-photo.section-photo {
  background-color: #F5F3F1;
  display: block;
  padding-left: 0;
  padding-right: 0;

  .photo-title {
    text-align: center;
    margin: 0 auto 60px;

    @include landscape {
      margin-bottom: 40px;
    }

    @include mobile-small {
      margin-bottom: 40px;
    }

    @include iphone {
      margin-bottom: 30px;
    }
  }
}

.section-contacts.section-contacts {
  background-color: #222222;

  @include tablet {
    width: 100%;
    display: flex;
    justify-content: right;
  }

  @include mobile {
    padding: 80px 0 80px 40px;
  }

  @include mobile-small {
    padding: 80px 30px;
  }

  @include iphone {
    padding: 60px 30px;
  }

  @include mobile-smallest {
    padding: 50px 16px;
  }

  .contacts-wrapper {
    display: flex;
    justify-content: space-between;

    @include tablet {
      max-width: 100%;
    }

    @include mobile-small {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .contacts-content {
    display: flex;
    flex-direction: column;
    padding-right: 72px;

    @include tablet-laptop {
      padding-right: 78px;
      margin-left: 40px;
    }

    @include mobile {
      padding-right: 12px;
    }

    @include mobile-small {
      padding: 0;
      align-items: center;
      width: 100%;
    }

    .contacts-title {
      color: #FFFFFF;
      position: relative;

      @include landscape {
        margin-bottom: 40px;
      }

      @include tablet {
        padding-left: 30px;
        margin-bottom: 40px;
      }

      @include mobile {
        margin-bottom: 45px;
      }

      @include mobile-small {
        margin-bottom: 40px;
        padding-left: 20px;
      }

      @include iphone {
        margin-bottom: 30px;
        padding-left: 13px;
      }

      @include mobile-smallest {
        margin-bottom: 30px;
      }

      &::before {
        position: absolute;
        content: '';
        border-left: 10px solid #ED652C;
        left: -25px;
        height: 100%;

        @include tablet {
          left: 0;
        }

        @include iphone {
          border-left: 6px solid #ED652C;
        }
      }
    }

    .contacts-text {
      font-family: Montserrat;
      color: #FFFFFF;
      font-size: 24px;
      font-weight: 500;
      line-height: 1.3;

      @include landscape {
        font-size: 18px;

      }

      @include mobile {
        font-size: 18px;
      }

      @include mobile-small {
        font-weight: normal;
      }

      @include mobile-smallest {
        margin-bottom: 30px;
      }
    }

    .contacts-tel {
      font-family: Montserrat;
      color: #FFFFFF;
      font-size: 36px;
      line-height: 1.3;
      font-weight: 500;
      margin: 30px 0;
      transition: color $trans;

      &:hover {
        color: #ED652C;
      }

      @include landscape {
        font-size: 24px;
        margin: 20px 0 40px;
      }

      @include tablet-laptop {
        font-size: 24px;
      }

      @include mobile {
        font-size: 24px;
      }

      @include mobile-small {
        margin: 20px 0 40px;
      }

      @include iphone {
        margin-bottom: 30px;
      }
    }

    .social-links {
      .social-links-item {
        width: 50px;
        height: 50px;
        border-radius: 50px;
        transition: transform $trans;

        &:hover {
          transform: scale(1.1);
        }

        svg {
          transform: scale(1.25);
        }
      }
    }

    .contacts-button {
      width: 350px;
      height: 70px;
      margin-top: 40px;
      margin-bottom: 60px;

      @include landscape {
        margin: 40px 0;
      }

      @include tablet-laptop {
        margin-top: 30px;
        margin-bottom: 60px;
        width: 320px;
      }

      @include tablet {
        margin-bottom: 50px;
      }

      @include mobile {
        width: 265px;
        margin: 30px 0;
      }

      @include mobile-small {
        width: 100%;
        margin: 40px 0 80px;
      }

      @include iphone {
        height: 60px;
        margin: 60px 0;
      }

      @include mobile-smallest {
        height: 55px;
        margin: 30px 0 50px;
      }
    }

    .contacts-address {
      font-family: Montserrat;
      color: #FFFFFF;
      text-decoration: underline;
      font-size: 30px;
      font-weight: 300;
      line-height: 1.3;
      white-space: nowrap;

      @include landscape {
        font-size: 24px;
      }

      @include tablet-laptop {
        font-size: 18px;
        white-space: nowrap;
      }

      @include mobile {
        font-size: 18px;
      }

      @include mobile-small {
        margin-bottom: 40px;
      }

      @include iphone {
        margin-bottom: 30px;
      }

      @include mobile-smallest {
        font-size: 16px;
        margin-bottom: 50px;
      }
    }

    .contacts-requisites {
      font-family: Montserrat;
      color: #FFFFFF;
      font-size: 24px;
      line-height: 1.3;
      max-width: 400px;
      font-weight: normal;
      margin: 60px 0 30px;

      @include landscape {
        margin: 40px 0 0;
        font-size: 18px;
      }

      @include tablet-laptop {
        margin: 50px 0 30px;
        font-size: 18px;
        width: 328px;
      }

      @include mobile {
        font-size: 15px;
        max-width: 273px;
      }

      @include mobile-small {
        margin: 40px 0;
        text-align: center;
        line-height: 1.5;
      }

      @include iphone {
        margin-bottom: 30px;
      }

      @include mobile-smallest {
        margin: 50px 0 30px;
      }
    }

    .contacts-policy {
      font-family: Montserrat;
      color: #FFFFFF;
      font-size: 24px;
      line-height: 1.3;
      font-weight: normal;
      margin-top: auto;
      text-decoration: underline;

      @include landscape {
        font-size: 18px;
      }

      @include tablet {
        font-size: 18px;
      }

      @include mobile {
        font-size: 15px;
      }

      &:visited {
        color: #FFFFFF;
      }
    }
  }

  .contacts-ymap {
    width: 832px;
    height: 750px;
    position: relative;

    @include landscape {
      height: 605px;
    }

    @include tablet-laptop {
      height: 620px;
    }

    @include mobile {
      height: 577px;
    }

    @include mobile-small {
      width: 100%;
      height: 241px;
    }

    @include iphone {
      height: 190px;
    }

    @include mobile-smallest {
      height: 165px;
    }

    .static-map {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      overflow: hidden
    }
  }
}
