@import "variables";
@import "mixins";

html {
  scroll-behavior: smooth;
}

.section-main {
  display: flex;
  justify-content: center;
  min-height: 800px;
  width: 100%;
  background-color: #222222;
  background-image: url('../src/assets/images/main-section-backround.jpeg');
  background-position: right;
  background-repeat: no-repeat;

  .main-wrapper {

    .address-wrapper {
      display: flex;
      margin-left: -4px;
      align-items: center;
    }

    .marker-icon {
      @include tablet {
        transform: scale(0.75);
      }
    }

    .map-link {
      text-decoration: underline;
      color: #FFFFFF;
      font-size: 24px;
      line-height: 1.3;
      font-weight: 300;
      margin-left: 17px;
      cursor: pointer;

      @include tablet {
        font-size: 18px;
      }
    }

    .main-title {
      font-family: 'Montserrat';
      color: #FFFFFF;
      font-size: 48px;
      line-height: 1.1;
      font-weight: 900;
      padding-left: 35px;
      margin: 60px 0;
      position: relative;
      text-transform: uppercase;

      &::before {
        position: absolute;
        content: '';
        border-left: 10px solid #ED652C;
        left: 0;
        height: 100%;
      }

      @include tablet {
        font-size: 36px;
        margin: 40px 0 50px 0;
      }
    }

    .main-text {
      color: #FFFFFF;
      font-size: 30px;
      line-height: 1.2;
      font-stretch: normal;
      font-weight: 600;
      padding-left: 35px;

      @include tablet {
        font-size: 24px;
        line-height: 29px;
      }
    }

     .main-button {
       width: 345px;
       height: 70px;
       margin-top: 30px;
       margin-left: 35px;
     }
  }
}

.section-advantages {
  width: 100%;
  background-color: #F5F3F1;
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .advantages-title {
    text-align: center;
  }

  .advantages-wrapper {
    display: flex;
    justify-content: center;

    .advantages {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding-right: 100px;
      max-width: 486px;

      @include tablet {
        padding-right: 20px;
      }

      .advantages-item {
        display: flex;
        align-items: center;

        .advantages-text {
          font-size: 24px;
          line-height: 1.3;
          font-weight: 300;
        }

        .advantages-icon {
          margin-right: 40px;
          overflow: visible;
        }
      }
    }

    .advantages-video {
      width: 710px;
      height: 473px;

      @include tablet-laptop {
        width: 408px;
        height: 307px;
      }

      @include tablet {
        height: 307px;
      }
    }
  }
}

.section-methodology {
  min-height: 942px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;

  .methodology-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .methodology-image {
      width: 750px;
      height: 750px;
      object-fit: cover;
      object-position: top;

      @include tablet {
        object-fit: cover;
        width: auto;
        height: auto;
      }
    }

    .methodology-wrapper {
      display: flex;
      flex-direction: column;
      width: 637px;
      padding-left: 75px;

      @include tablet {
        padding-left: 20px;
      }

      .methodology-title {
        position: relative;
        margin-bottom: 40px;

        @include tablet {
          margin-bottom: 30px;
          margin-left: 30px;
        }

        &::before {
          position: absolute;
          content: '';
          border-left: 10px solid #ED652C;
          left: -25px;
          height: 100%;
        }
      }

      .methodology-text {
        margin-bottom: 30px;
        max-width: 562px;
        font-size: 24px;
        line-height: 1.3;
        font-weight: 300;

        @include tablet {
          margin-bottom: 20px;
        }
      }

      .methodology-list {
        list-style-type: disc;
        list-style-position: inside;

        .methodology-item {
          margin-bottom: 30px;
          font-size: 24px;
          line-height: 1.3;
          font-weight: 300;
          max-width: 466px;

          @include tablet {
            margin-bottom: 20px;
          }

          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.section-directions {
  min-height: 1263px;
  background-image: url('../src/assets/images/directions.jpeg');
  background-position: left;
  background-repeat: no-repeat;
  background-color: #222222;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  @include tablet {
    min-height: 1020px;
  }

  .directions-wrapper {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    max-height: 963px;
    width: 613px;

    @include tablet {
      width: 537px;
    }

    .directions-title {
      color: #FFFFFF;
      max-width: 500px;
      position: relative;

      &::before {
        position: absolute;
        content: '';
        border-left: 10px solid #ED652C;
        left: -25px;
        height: 100%;
      }
    }

    .directions-list {

      .directions-list-item {
        font-size: 30px;
        line-height: 1.5;
        font-weight: 600;
        color: #FFFFFF;
        cursor: pointer;
        margin-bottom: 50px;

        .direction-wrap {
          display: flex;
          align-items: flex-start;

          .directions-direction {
            font-size: 30px;
            line-height: 1.5;
            font-weight: 600;
            margin-bottom: 0;
            transition: margin-bottom $trans;

            @include tablet {
              font-size: 24px;
            }
          }

          .directions-icon {
            margin-top: 10px;
            margin-left: auto;
            transform: rotate(0deg);
            transition: transform $trans;
          }
        }

        &._active {
          .directions-item {
            max-height: 260px;

            .direction-item {
              transform: translateY(0);
              }
            }

          .directions-direction {
            margin-bottom: 30px;
          }

          .directions-icon {
            transform: rotate(180deg);
          }
          }
        }

        .directions-item {
          padding-left: 50px;
          overflow: hidden;
          list-style-type: disc;
          list-style-position: outside;
          max-height: 0;
          transition: max-height $trans;
          max-width: 518px;

          @include tablet {
            max-width: 400px;
          }

          .direction-item {
            font-size: 30px;
            line-height: 1.3;
            font-weight: 300;
            margin-bottom: 30px;
            transform: translateY(350%);

            @include tablet {
              font-size: 24px;
              &:last-of-type {
                margin-bottom: 0;
              }
            }
          }

          @for $i from 1 through 3 {
            .direction-item:nth-child(#{$i}) {
              transition: transform 0.2s + $i * 0.1 linear;
            }
          }
      }
    }
  }
}

.section-coach {
  background-color: #F5F3F1;
  padding: 74px 0;

  .coach-wrapper {
    display: flex;
    justify-content: space-between;

    .image-wrapper {
      flex-shrink: 1;
      .coach-image {
        object-fit: cover;
        object-position: top;
        height: 100%;
        //max-width: 100%;
        max-width: 450px;
      }
    }
  }

  .coach-text {
    display: flex;
    flex-direction: column;
    max-width: 608px;
    justify-content: center;
    padding-right: 20px;

    .coach-title {
      position: relative;

      &::before {
        content: '';
        border-left: 10px solid #ED652C;
        left: -25px;
        height: 100%;
        position: absolute;
      }
    }

    .coach-paragraph {
      margin-bottom: 30px;
      font-size: 24px;
      line-height: 1.3;
      font-weight: 300;

      &.coach-paragraph-bold {
        font-weight: 600;
      }
    }

    .coach-teams {
      list-style-type: disc;
      list-style-position: inside;
      margin-left: 10px;

      .coach-team {
        font-size: 24px;
        line-height: 1.3;
        font-weight: 300;
        margin-bottom: 30px;
      }
    }
  }
}

.section-schedule {
  background-color: #FFFFFF;
  padding: 150px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .schedule-title {
    text-align: center;
  }

  .schedule-wrapper {
    display: flex;
    align-items: center;

    .schedule-image-container {
      width: 35.4%;

      @include tablet-laptop {
        width: 50%;
      }

      .schedule-image {
        width: 100%;
      }
    }

    .schedule-text {
      margin-left: 50px;
      max-height: 387px;
      align-self: center;

      .schedule-paragraph {
        font-size: 24px;
        line-height: 36px;
        font-weight: 300;
        max-width: 710px;
        margin-bottom: 60px;
      }

      .schedule-table {
        display: flex;
        padding-right: 50px;
        justify-content: space-between;
        height: 225px;
        padding-left: 35px;

        .table-column {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          &.highlighted {
            position: relative;

            &::before {
              position: absolute;
              content: '';
              border-left: 10px solid #ED652C;
              left: -25px;
              height: 60%;
              bottom: 0;
            }
          }

          &.centered {
            align-items: center;
          }

          .table-header {
            font-size: 30px;
            line-height: 1.5;
            font-weight: 400;

            @include tablet-laptop {
              font-size: 24px;
            }
          }

          .table-text {
            font-size: 30px;
            line-height: 1.5;
            font-weight: 300;

            @include tablet-laptop {
              font-size: 24px;
            }
          }
        }
      }
    }
  }
}

.section-reviews.section-reviews {
  background-color: #F5F3F1;
  display: block;

  .reviews-title {
    text-align: center;
  }
}

.section-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px 0;
  background-color: #FFFFFF;

  .price-title {
    text-align: center;
  }

  .price-wrapper {
    display: flex;
  }
}

.section-promotion {
  padding: 128px 0;
  background-color: #F5F3F1;

  .promotion-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .promotion-pics {
    display: flex;
    justify-content: space-between;

    .promotion-image {
      padding-right: 30px;
      width: 50%;
      height: auto;

      @include tablet-laptop {

      }

      &:last-of-type {
        padding-right: 0;
      }
    }
  }

  .promotion-text {
    padding-left: 50px;

    .promotion-title {
      margin-bottom: 30px;
    }

    .promotion-paragraph {
      font-size: 30px;
      line-height: 1.3;
      font-weight: 300;
      max-width: 467px;

      @include tablet {
        font-size: 24px;
      }
    }
  }

  .promotion-button {
    height: 70px;
    width: 345px;
    margin-top: 30px;
  }
}

.section-faq {
  padding: 150px 0;
  width: 100%;
  height: 1372px;
  background-color: #222222;
  background-image: url("../src/assets/images/faq.jpeg");
  background-repeat: no-repeat;

  .faq-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: auto;
    width: 735px;

    @include tablet {
      width: 690px;
      justify-content: center;
      margin: 0 auto;
    }

    .faq-title {
      color: #FFFFFF;
    }

    .faq-list {
      width: 735px;

      @include tablet {
        width: 690px;
      }

      .faq-list-item {
        cursor: pointer;
        margin-bottom: 50px;
        position: relative;
        color: #FFFFFF;


        &._opened {
          .question-wrapper {
            margin-bottom: 30px;

            .faq-icon {
              transform: rotate(180deg);
            }
          }

          .faq-answer {
            max-height: 351px;
          }
        }

        &::before {
          position: absolute;
          content: '';
          border-left: 10px solid #ED652C;
          left: -25px;
          height: 100%;
        }

        .question-wrapper {
          display: flex;
          align-items: center;
          margin-bottom: 0;
          transition: margin-bottom $trans;

          .faq-question {
            font-size: 30px;
            line-height: 1.5;
            font-weight: 600;
            max-width: 640px;
          }

          .faq-icon {
            margin-left: auto;
            transform: rotate(0deg);
            transition: transform $trans;
          }
        }

        .faq-answer {
          overflow: hidden;
          max-height: 0;
          transition: max-height $trans;
          font-size: 30px;
          line-height: 1.3;
          font-weight: 300;
          max-width: 640px;
        }
      }
    }
  }
}

.section-photo.section-photo {
  background-color: #F5F3F1;
  display: block;
  padding-bottom: 232px;

  .photo-title {
    text-align: center;
    margin-bottom: 142px;
  }
}

.section-contacts.section-contacts {
  background-color: #222222;
  width: 100%;
  display: flex;
  justify-content: right;

  .contacts-wrapper {
    display: flex;
    max-width: 100%;
  }

  .contacts-content {
    display: flex;
    flex-direction: column;
    margin-right: 78px;
    margin-left: 40px;

    .contacts-title {
      color: #FFFFFF;
      position: relative;
      margin-bottom: 40px;

      @include tablet {
        padding-left: 30px;
      }

      &::before {
        position: absolute;
        content: '';
        border-left: 10px solid #ED652C;
        left: 0;
        height: 100%;
      }
    }

    .contacts-text {
      font-family: Montserrat;
      color: #FFFFFF;
      font-size: 24px;
      font-weight: 500;
      line-height: 1.3;
    }

    .contacts-tel {
      font-family: Montserrat;
      color: #FFFFFF;
      font-size: 36px;
      line-height: 1.3;
      font-weight: 500;
      margin: 30px 0;

      @include tablet {
        font-size: 24px;
      }
    }

    .contacts-button {
      width: 350px;
      height: 70px;
      margin-top: 40px;
      margin-bottom: 60px;

      @include tablet {
        margin-top: 30px;
        margin-bottom: 60px;
        width: 320px;
      }
    }

    .contacts-address {
      font-family: Montserrat;
      color: #FFFFFF;
      text-decoration: underline;
      font-size: 30px;
      font-weight: 300;
      line-height: 1.3;
      white-space: nowrap;

      @include tablet {
        font-size: 18px;
      }
    }

    .contacts-requisites {
      font-family: Montserrat;
      color: #FFFFFF;
      font-size: 24px;
      line-height: 1.3;
      max-width: 400px;
      font-weight: normal;
      margin: 60px 0 30px;

      @include tablet {
        margin: 50px 0 30px;
        font-size: 18px;
        width: 328px;
      }
    }

    .contacts-policy {
      color: #FFFFFF;
      font-size: 24px;
      line-height: 1.3;
      font-weight: normal;
      margin-top: auto;
      text-decoration: underline;

      &:visited {
        color: #FFFFFF;
      }
    }
  }

  .contacts-ymap {
    width: 832px;
    height: 750px;
    position: relative;

    @include tablet {
      height: 620px;
    }
    .static-map {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      overflow: hidden
    }
  }
}
