@import "variables";
@import "mixins";

html {
  scroll-behavior: smooth;
}

.section-main.section-main {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #222222;
  background-image: url('../src/assets/images/main-section-backround.jpeg');
  background-position: right;
  background-repeat: no-repeat;

  @include tablet {
    padding-top: 181px;
    background-size: contain;
  }

  @include mobile {
    padding-top: 370px;
    align-items: flex-end;
    background-position: top;
    background-image: url("../src/assets/images/main-section-backround-mobile.jpeg");
  }

  @include mobile-small {
    background-image: url("../src/assets/images/main-section-backround-mobile-s.jpeg");
    background-repeat: no-repeat;
    background-color: #222222;
    padding-top: 274px;
    min-height: auto;
  }

  @include mobile-smallest {
    padding-top: 214px;
    background-image: url("../src/assets/images/main-section-backround-mobile-xs.jpeg");
  }

  .main-wrapper {

    .address-wrapper {
      display: flex;
      margin-left: -4px;
      align-items: center;
    }

    .marker-icon {
      @include tablet {
        transform: scale(0.75);
      }

      @include mobile-smallest {
        transform: scale(0.57);
        margin-left: -8px;
      }
    }

    .map-link {
      text-decoration: underline;
      color: #FFFFFF;
      font-size: 24px;
      line-height: 1.3;
      font-weight: 300;
      margin-left: 17px;
      cursor: pointer;

      @include tablet {
        font-size: 18px;
      }

      @include mobile {
        font-size: 24px;
      }

      @include mobile-small {
        font-size: 18px;
        margin-left: 5px;
      }

      @include mobile-smallest {
        font-size: 13px;
        margin-left: 0;
        letter-spacing: -0.03em;
      }
    }

    .main-title {
      font-family: 'Montserrat';
      color: #FFFFFF;
      font-size: 48px;
      line-height: 1.1;
      font-weight: 900;
      padding-left: 35px;
      margin: 60px 0;
      position: relative;
      text-transform: uppercase;

      &::before {
        position: absolute;
        content: '';
        border-left: 10px solid #ED652C;
        left: 0;
        height: 100%;

        @include mobile-small {
          left: -18px;
          border-left: 8px solid #ED652C;
        }

        @include mobile-smallest {
          border-left: 6px solid #ED652C;
          left: 0;
        }
      }

      @include tablet {
        font-size: 36px;
        margin: 40px 0 50px 0;
      }

      @include mobile {
        margin: 30px 0;
      }

      @include mobile-small {
        font-size: 28px;
        padding-left: 0;
      }

      @include mobile-smallest {
        font-size: 18px;
        padding-left: 11px;
      }
    }

    .main-text {
      color: #FFFFFF;
      font-size: 30px;
      line-height: 1.2;
      font-stretch: normal;
      font-weight: 600;
      padding-left: 35px;

      @include tablet {
        font-size: 24px;
        line-height: 29px;
      }

      @include mobile-small {
        padding-left: 0;
        font-size: 24px;
      }

      @include mobile-smallest {
        font-size: 12px;
        line-height: 14px;
      }
    }

     .main-button {
       width: 345px;
       height: 70px;
       margin-top: 30px;
       margin-left: 35px;

       @include mobile-small {
         width: 100%;
         margin-left: 0;
       }

       @include mobile-smallest {
         height: 55px;
         font-size: 18px;
         line-height: 1.3;
       }
     }
  }
}

.section-advantages {
  width: 100%;
  background-color: #F5F3F1;
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .advantages-container {
    @include mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .advantages-title {
      text-align: center;
    }

    .advantages-wrapper {
      display: flex;
      justify-content: center;

      @include mobile {
        flex-direction: column;
        align-items: center;
      }

      .advantages {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-right: 100px;
        max-width: 486px;

        @include tablet {
          padding-right: 20px;
          flex-shrink: 1;
        }

        @include mobile {
          flex-shrink: 1;
          max-width: 80%;
        }

        @include mobile-small {
          padding-right: 0;
          max-width: 100%;
        }

        .advantages-item {
          display: flex;
          align-items: center;

          @include mobile {
            margin-bottom: 50px;
          }

          @include mobile-smallest {
            margin-bottom: 30px;
          }

          .advantages-text {
            font-size: 24px;
            line-height: 1.3;
            font-weight: 300;

            @include mobile-smallest {
              font-size: 18px;
            }
          }

          .advantages-icon {
            margin-right: 40px;
            overflow: visible;

            @include mobile-smallest {
              margin-right: 22px;
            }
          }
        }
      }

       .advantages-video-container {
         position: relative;
         width: 710px;
         height: 473px;

         @include tablet-laptop {
           width: 408px;
           height: 307px;
           flex-shrink: 0;
         }

         @include mobile {
           width: 100%;
           height: 408px;
         }

         @include mobile-small {
           height: 268px;
         }

         @include mobile-smallest {
           height: 184px;
         }

         iframe {
           width: 100%;
           height: 100%;
           position: absolute;
           top: 0;
           left: 0;
         }
       }

      .custom-play-button {
        width: 100px;
        height: 100px;
        background-color: #00B6F0;
        position: absolute;
      }
    }
  }
}

.section-methodology {
  min-height: 942px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;

  .methodology-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mobile {
      flex-direction: column;
    }

    .methodology-image {
      background-image: url("../src/assets/images/methodology.jpeg");
      width: 750px;
      height: 750px;
      object-fit: fill;
      background-repeat: no-repeat;
      object-position: top;
      background-position: center;

      @include tablet {
        background-image: url("../src/assets/images/methodology-height.jpeg");
        object-fit: cover;
        width: 450px;
        height: 639px;
        background-position: center;
      }

      @include mobile {
        background-image: url("../src/assets/images/methodology-mobile.jpeg");
        background-size: auto auto;
        width: 100%;
        height: 500px;
        background-position: center;
        margin-bottom: 40px;
      }

      @include mobile-small {
        width: 100%;
        height: 343px;
        background-size: cover;
        margin-bottom: 40px;
      }

      @include mobile-smallest {
        height: 235px;
        margin-bottom: 30px;
      }
    }

    .methodology-wrapper {
      display: flex;
      flex-direction: column;
      width: 637px;
      padding-left: 75px;

      @include tablet {
        padding-left: 20px;
      }

      @include mobile {
        padding: 0;
        width: 100%;
      }

      .methodology-title {
        position: relative;
        margin-bottom: 40px;

        @include tablet {
          margin-bottom: 30px;
          padding-left: 25px;
        }

        @include mobile-small {
          margin-bottom: 40px;
          padding-left: 18px;
        }

        @include mobile-smallest {
          margin-left: 0;
          padding-left: 11px;
          margin-bottom: 30px;
        }

        &::before {
          position: absolute;
          content: '';
          border-left: 10px solid #ED652C;
          left: -25px;
          height: 100%;

          @include tablet {
            left: 0;
          }

          @include mobile-small {
            border-left: 8px solid #ED652C;
            left: 0;
          }

          @include mobile-smallest {
            border-left: 6px solid #ED652C;
          }
        }
      }

      .methodology-text {
        margin-bottom: 30px;
        max-width: 562px;
        font-size: 24px;
        line-height: 1.3;
        font-weight: 300;

        @include tablet {
          margin-bottom: 20px;
        }

        @include mobile {
          max-width: 100%;
        }

        @include  mobile-smallest {
          font-size: 18px;
        }
      }

      .methodology-list {
        list-style-type: disc;
        list-style-position: inside;

        .methodology-item {
          margin-bottom: 30px;
          font-size: 24px;
          line-height: 1.3;
          font-weight: 300;
          max-width: 466px;

          @include tablet {
            margin-bottom: 20px;
          }

          @include mobile-smallest {
            font-size: 18px;
          }

          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.section-directions.section-directions {
  background-image: url('../src/assets/images/directions.jpeg');
  background-position: left;
  background-repeat: no-repeat;
  background-color: #222222;
  position: relative;
  display: flex;
  align-items: flex-end;

  @include tablet {
    min-height: 1020px;
  }

  @include mobile {
    background-image: url("../src/assets/images/directions-mobile.jpeg");
    background-position: top;
    padding-top: 350px;
  }

  @include mobile-small {
    padding-top: 300px;
    background-size: 100% 332px;
  }

  @include mobile-smallest {
    padding-top: 181px;
    background-size: contain;
    min-height: auto;
  }

  .directions-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .directions-wrapper {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    max-height: 963px;
    width: 613px;

    @include tablet {
      width: 537px;
    }

    @include mobile {
      margin-left: 0;
      width: 486px;
    }

    .directions-title {
      color: #FFFFFF;
      max-width: 500px;
      position: relative;

      @include mobile-small {
        padding-left: 18px;
      }

      @include mobile-smallest {
        padding-left: 11px;
      }

      &::before {
        position: absolute;
        content: '';
        border-left: 10px solid #ED652C;
        left: -25px;
        height: 100%;

        @include mobile-small {
          border-left: 8px solid #ED652C;
          left: 0;
        }

        @include mobile-smallest {
          border-left: 6px solid #ED652C;
          left: 0;
        }
      }
    }

    .directions-list {

      .directions-list-item {
        font-size: 30px;
        line-height: 1.5;
        font-weight: 600;
        color: #FFFFFF;
        cursor: pointer;
        margin-bottom: 50px;

        &:last-of-type {
          margin-bottom: 0;
        }

        @include mobile-smallest {
          margin-bottom: 40px;
        }

        .direction-wrap {
          display: flex;
          align-items: flex-start;

          .directions-direction {
            font-size: 30px;
            line-height: 1.5;
            font-weight: 600;
            margin-bottom: 0;
            transition: margin-bottom $trans;

            @include tablet {
              font-size: 24px;
            }

            @include mobile-small {
              font-size: 22px;
            }

            @include mobile-smallest {
              font-size: 16px;
            }
          }

          .directions-icon {
            margin-top: 10px;
            margin-left: auto;
            transform: rotate(0deg);
            transition: transform $trans;

            @include mobile-smallest {
              margin-top: 0;
            }
          }
        }

        &._active {
          .directions-item {
            max-height: 285px;

            .direction-item {
              transform: translateY(0);
              }
            }

          .directions-direction {
            margin-bottom: 30px;
          }

          .directions-icon {
            transform: rotate(180deg);
          }
          }
        }

        .directions-item {
          padding-left: 50px;
          overflow: hidden;
          list-style-type: disc;
          list-style-position: outside;
          max-height: 0;
          transition: max-height $trans;
          max-width: 518px;

          @include tablet {
            max-width: 400px;
          }

          .direction-item {
            font-size: 30px;
            line-height: 1.3;
            font-weight: 300;
            margin-bottom: 30px;
            transform: translateY(350%);

            @include tablet {
              font-size: 24px;
              &:last-of-type {
                margin-bottom: 0;
              }
            }

            @include mobile-small {
              font-size: 22px;
              font-weight: normal;
            }

            @include mobile-smallest {
              font-size: 16px;
            }
          }

          @for $i from 1 through 3 {
            .direction-item:nth-child(#{$i}) {
              transition: transform 0.2s + $i * 0.1 linear;
            }
          }
      }
    }
  }
}

.section-coach {
  background-color: #F5F3F1;
  padding: 74px 0;

  .coach-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;

    @include mobile {
      flex-direction: column;
    }

    .image-wrapper {
      position: relative;
      flex-shrink: 1;

      @include mobile {
        overflow: hidden;
        max-height: 500px;
        max-width: 100%;
        margin-bottom: 40px;
      }

      @include mobile-small {
        max-height: 343px;
      }

      .coach-image {
        object-fit: cover;
        object-position: top;
        height: 100%;
        max-width: 750px;

        @include tablet-laptop {
          max-width: 450px;
        }

        @include mobile {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }

  .coach-text {
    display: flex;
    flex-direction: column;
    max-width: 608px;
    justify-content: center;
    padding-right: 20px;

    @include mobile {
      max-width: 100%;
      padding-right: 0;
    }

    .coach-title {
      position: relative;

      @include tablet {
        margin-bottom: 30px;
        padding-left: 25px;
      }

      @include mobile-small {
        padding-left: 18px;
      }

      @include mobile-smallest {
        padding-left: 11px;
      }

      &::before {
        content: '';
        border-left: 10px solid #ED652C;
        left: -25px;
        height: 100%;
        position: absolute;

        @include tablet {
          left: 0;
        }

        @include mobile-small {
          left: 0;
          border-left: 8px solid #ED652C;
        }

        @include mobile-smallest {
          border-left: 6px solid #ED652C;
          left: 0;
        }
      }
    }

    .coach-paragraph {
      margin-bottom: 30px;
      font-size: 24px;
      line-height: 1.3;
      font-weight: 300;

      @include tablet {
        margin-bottom: 20px;
      }

      @include mobile-small {
        margin-bottom: 20px;
      }

      &.coach-paragraph-bold {
        font-weight: 600;
      }
    }

    .coach-teams {
      list-style-type: disc;
      list-style-position: inside;
      margin-left: 10px;

      @include mobile {
        align-self: center;
      }

      .coach-team {
        font-size: 24px;
        line-height: 1.3;
        font-weight: 300;
        margin-bottom: 30px;
      }
    }
  }
}

.section-schedule {
  background-color: #FFFFFF;
  padding: 150px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .schedule-container {
    @include mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .schedule-title {
    text-align: center;
  }

  .schedule-wrapper {
    display: flex;
    align-items: center;

    @include mobile {
      flex-direction: column;
    }

    .schedule-image-container {
      width: 35.4%;

      @include tablet-laptop {
        width: 50%;
      }

      @include mobile {
        display: flex;
        align-items: flex-end;
        overflow: hidden;
        width: 100%;
        max-height: 341px;
        margin-bottom: 40px;
      }

      @include mobile-small {
        max-height: 223px;
      }

      @include mobile-smallest {
        max-height: 153px;
        margin-bottom: 30px;
      }

      .schedule-image {
        width: 100%;
      }
    }

    .schedule-text {
      margin-left: 50px;
      max-height: 387px;
      align-self: center;

      @include mobile {
        margin-left: 0;
        max-height: 976px;
      }

      .schedule-paragraph {
        font-size: 24px;
        line-height: 36px;
        font-weight: 300;
        max-width: 710px;
        margin-bottom: 60px;

        @include mobile {
          text-align: center;
          margin-bottom: 40px;
        }

        @include mobile-smallest {
          margin-bottom: 30px;
        }
      }

      .schedule-table {
        display: flex;
        padding-right: 50px;
        justify-content: space-between;
        height: 225px;
        padding-left: 35px;

        @include mobile-small {
          padding: 0;
          height: 168px;
        }

        @include mobile-smallest {
          height: 104px;
        }

        .table-column {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          &.highlighted {
            position: relative;

            &::before {
              position: absolute;
              content: '';
              border-left: 10px solid #ED652C;
              left: -25px;
              height: 60%;
              bottom: 0;

              @include mobile-small {
                border-left: 8px solid #ED652C;
                left: -18px;
              }

              @include mobile-smallest {
                border-left: 6px solid #ED652C;
                left: -11px;
              }
            }
          }

          &.centered {
            align-items: center;
          }

          .table-header {
            font-size: 30px;
            line-height: 1.5;
            font-weight: 400;

            @include tablet {
              font-size: 24px;
            }

            @include mobile-smallest {
              font-size: 16px;
            }
          }

          .table-text {
            font-size: 30px;
            line-height: 1.5;
            font-weight: 300;

            @include tablet {
              font-size: 24px;
            }

            @include mobile-smallest {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

.section-reviews.section-reviews {
  background-color: #F5F3F1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 104px;

  @include mobile-small {
    padding-right: 0;
    padding-left: 0;
  }

  .reviews-title {
    text-align: center;
  }
}

.section-price.section-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;

  @include landscape {
    padding-bottom: 237px;
  }

  @include mobile {
    padding-bottom: 140px;
  }

  @include mobile-smallest {
    padding-bottom: 94px;
  }

  .price-title {
    text-align: center;
  }

  .price-wrapper {
    display: flex;
  }
}

.section-promotion {
  padding: 128px 0;
  background-color: #F5F3F1;

  .promotion-wrapper.promotion-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile {
      justify-content: space-around;
      min-width: 69%;
    }

    @include mobile-small {
      flex-direction: column;
      justify-content: center;
    }
  }

  .promotion-pics {
    display: flex;
    justify-content: space-between;

    @include mobile {
      flex-direction: column;
    }

    @include mobile-small {
      margin-top: 40px;
      flex-direction: row;
      justify-content: space-around;
    }

    .promotion-image {
      padding-right: 30px;
      width: 50%;
      height: auto;

      @include mobile {
        padding-right: 0;
        padding-bottom: 20px;
        width: 150px;
      }

      @include mobile-small {
        padding: 0;
        width: 132px;
      }

      &:last-of-type {
        padding-right: 0;
        padding-bottom: 0;
      }
    }
  }

  .promotion-text {
    padding-left: 50px;

    @include mobile {
      max-width: 295px;
      padding-left: 0;
    }

    @include mobile-small {
      max-width: 100%;
    }

    .promotion-title {
      margin-bottom: 30px;

      @include mobile-small {
        text-align: center;
      }
    }

    .promotion-paragraph {
      font-size: 30px;
      line-height: 1.3;
      font-weight: 300;
      max-width: 467px;

      @include tablet {
        font-size: 24px;
      }

      @include mobile-small {
        max-width: 100%;
        text-align: center;
      }
    }
  }

  .promotion-button {
    height: 70px;
    width: 345px;
    margin-top: 30px;
    @include  mobile {
      width: 295px;
    }

    @include mobile-small {
      width: 100%;
      margin-top: 40px;
    }
  }
}

.section-faq.section-faq {
  padding: 150px 0;
  width: 100%;
  height: 1372px;
  background-color: #222222;
  background-image: url("../src/assets/images/faq.jpeg");
  background-repeat: no-repeat;

  @include mobile {
    height: auto;
    padding: 310px 40px 80px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-image: url("../src/assets/images/ faq-mobile.jpeg");
  }

  @include mobile-small {
    padding-top: 328px;
    background-image: url("../src/assets/images/ faq-mobile-s.jpeg");
  }

  @include mobile-smallest {
    background-image: url("../src/assets/images/faq-mobile-xs.jpeg");
    background-size: contain;
    padding: 169px 16px 50px;
  }

  .faq-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: auto;
    max-width: 735px;

    @include tablet {
      max-width: 690px;
      justify-content: center;
      margin: 0 auto;
    }

    @include mobile {
      justify-content: flex-end;
    }

    .faq-title {
      color: #FFFFFF;
    }

    .faq-list {
      max-width: 735px;

      @include tablet {
        max-width: 690px;
      }

      .faq-list-item {
        cursor: pointer;
        margin-bottom: 50px;
        position: relative;
        color: #FFFFFF;

        &:last-of-type {
          margin-bottom: 0;
        }


        &._opened {
          .question-wrapper {
            margin-bottom: 30px;

            @include mobile-small {
              margin-bottom: 20px;
            }

            .faq-icon {
              transform: rotate(180deg);
            }
          }

          .faq-answer {
            max-height: 351px;
          }
        }

        &::before {
          position: absolute;
          content: '';
          border-left: 10px solid #ED652C;
          left: -25px;
          height: 100%;

          @include mobile {
            left: 0;
          }

          @include mobile-small {
            border-left: 8px solid #ED652C;
            left: -18px;
          }

          @include mobile-smallest {
            border-left: 6px solid #ED652C;
            left: -11px;
          }
        }

        .question-wrapper {
          display: flex;
          align-items: center;
          margin-bottom: 0;
          transition: margin-bottom $trans;

          .faq-question {
            font-size: 30px;
            line-height: 1.5;
            font-weight: 600;
            max-width: 640px;

            @include mobile {
              padding-left: 25px;
            }

            @include mobile-small {
              padding-left: 0;
              font-size: 18px;
              max-width: 350px;
            }

            @include mobile-smallest {
              max-width: 241px;
            }
          }

          .faq-icon {
            overflow: visible;
            margin-left: auto;
            transform: rotate(0deg);
            transition: transform $trans;
          }
        }

        .faq-answer {
          overflow: hidden;
          max-height: 0;
          transition: max-height $trans;
          font-size: 30px;
          line-height: 1.3;
          font-weight: 300;
          max-width: 640px;

          @include mobile {
            padding-left: 25px;
          }

          @include mobile-small {
            padding-left: 0;
            font-size: 18px;
            max-width: 350px;
          }

          @include mobile-smallest {
            max-width: 241px;
          }
        }
      }
    }
  }
}

.section-photo.section-photo {
  background-color: #F5F3F1;
  display: block;
  //padding-bottom: 232px;
  padding-left: 0;
  padding-right: 0;

  .photo-title {
    text-align: center;
    margin-bottom: 60px;

    @include mobile-small {
      margin-bottom: 40px;
    }

    @include mobile-smallest {
      margin-bottom: 30px;
    }
  }
}

.section-contacts.section-contacts {
  background-color: #222222;

  @include tablet {
    width: 100%;
    display: flex;
    justify-content: right;
  }

  @include mobile {
    padding: 80px 0 80px 40px;
  }

  @include mobile-small {
    padding: 80px 30px;
  }

  @include mobile-smallest {
    padding: 50px 16px;
  }

  .contacts-wrapper {
    display: flex;
    justify-content: space-between;

    @include tablet {
      max-width: 100%;
    }

    @include mobile-small {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .contacts-content {
    display: flex;
    flex-direction: column;
    padding-right: 72px;

    @include tablet-laptop {
      padding-right: 78px;
      margin-left: 40px;
    }

    @include mobile {
      padding-right: 12px;
    }

    @include mobile-small {
      padding: 0;
      align-items: center;
      width: 100%;
    }

    .contacts-title {
      color: #FFFFFF;
      position: relative;

      @include tablet {
        padding-left: 30px;
        margin-bottom: 40px;
      }

      @include mobile {
        margin-bottom: 45px;
      }

      @include mobile-small {
        margin-bottom: 40px;
        padding-left: 20px;
      }

      @include mobile-smallest {
        margin-bottom: 30px;
      }

      &::before {
        position: absolute;
        content: '';
        border-left: 10px solid #ED652C;
        left: -25px;
        height: 100%;

        @include tablet {
          left: 0;
        }
      }
    }

    .contacts-text {
      font-family: Montserrat;
      color: #FFFFFF;
      font-size: 24px;
      font-weight: 500;
      line-height: 1.3;

      @include mobile {
        font-size: 18px;
      }

      @include mobile-small {
        font-weight: normal;
      }

      @include mobile-smallest {
        margin-bottom: 30px;
      }
    }

    .contacts-tel {
      font-family: Montserrat;
      color: #FFFFFF;
      font-size: 36px;
      line-height: 1.3;
      font-weight: 500;
      margin: 30px 0;

      @include tablet-laptop {
        font-size: 24px;
      }

      @include mobile {
        font-size: 24px;
      }

      @include mobile-small {
        margin: 20px 0 40px;
      }
    }

    .social-links {
      .social-links-item {
        width: 50px;
        height: 50px;
        border-radius: 50px;

        svg {
          transform: scale(1.25);
        }
      }
    }

    .contacts-button {
      width: 350px;
      height: 70px;
      margin-top: 40px;
      margin-bottom: 60px;

      @include tablet-laptop {
        margin-top: 30px;
        margin-bottom: 60px;
        width: 320px;
      }

      @include tablet {
        margin-bottom: 50px;
      }

      @include mobile {
        width: 265px;
        margin: 30px 0;
      }

      @include mobile-small {
        width: 100%;
        margin: 40px 0 80px;
      }

      @include mobile-smallest {
        height: 55px;
        margin: 30px 0 50px;
      }
    }

    .contacts-address {
      font-family: Montserrat;
      color: #FFFFFF;
      text-decoration: underline;
      font-size: 30px;
      font-weight: 300;
      line-height: 1.3;
      white-space: nowrap;

      @include tablet-laptop {
        font-size: 18px;
        white-space: nowrap;
      }

      @include mobile {
        font-size: 18px;
      }

      @include mobile-small {
        margin-bottom: 40px;
      }

      @include mobile-smallest {
        font-size: 16px;
        margin-bottom: 50px;
      }
    }

    .contacts-requisites {
      font-family: Montserrat;
      color: #FFFFFF;
      font-size: 24px;
      line-height: 1.3;
      max-width: 400px;
      font-weight: normal;
      margin: 60px 0 30px;

      @include tablet-laptop {
        margin: 50px 0 30px;
        font-size: 18px;
        width: 328px;
      }

      @include mobile {
        font-size: 15px;
        max-width: 273px;
      }

      @include mobile-small {
        margin: 40px 0;
        text-align: center;
      }

      @include mobile-smallest {
        margin: 50px 0 30px;
      }
    }

    .contacts-policy {
      font-family: Montserrat;
      color: #FFFFFF;
      font-size: 24px;
      line-height: 1.3;
      font-weight: normal;
      margin-top: auto;
      text-decoration: underline;

      @include tablet {
        font-size: 18px;
      }

      @include mobile {
        font-size: 15px;
      }

      &:visited {
        color: #FFFFFF;
      }
    }
  }

  .contacts-ymap {
    width: 832px;
    height: 750px;
    position: relative;

    @include tablet-laptop {
      height: 620px;
    }

    @include mobile {
      height: 577px;
    }

    @include mobile-small {
      width: 100%;
      height: 241px;
    }

    @include mobile-smallest {
      height: 165px;
    }

    .static-map {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      overflow: hidden
    }
  }
}
